<h1 class="h3 text-uppercase">Мой аккаунт</h1>
<div class="d-flex align-items-start pt-4 pb-4 mb-5 border-bottom">
    <div class="d-flex align-items-md-center flex-column flex-md-row">
        <div class="default-upload">
            <label><input type="file" hidden></label>
        </div>
        <div class="mt-3 mt-md-0">
            <h2 class="h3">Привет,
                {{ user.firstName }}{#, Наталья#}
                !</h2>
            <span>Количество баллов: 0</span>
        </div>
    </div>
    <a href="{{ path('app_logout') }}" class="d-block ms-auto">Выйти</a>
</div>