<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Womjoy</title>
    <!-- <link rel="stylesheet" href="./libs/swiper/swiper.min.css"> -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="h-grid-12-col hidden">
        <div class="h-grid-12-col-items">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <header class="header">
		<div class="wrapper">
			<div class="header__main">
				<div class="header__left">
					<a href="#" class="header__logo">
						<img src="./img/logo.svg" alt="" width="205" height="36">
					</a>
					<!-- <div class="country">
						<button class="country__crnt" type="button">
							<img src="./img/countries/ru.svg" alt="" width="24" height="24" class="country__crnt_flag">
							<img src="./img/icons/arrow-down.svg" alt="" width="20" height="20" class="country__crnt_arrow">
						</button>
						<form class="country__content">
							<button class="country__close" type="button">
								<img src="./img/icons/close.svg" alt="" width="24" height="24">
							</button>
							<div class="country__field sel-field">
								<span class="sel-field__ph">Выберите страну</span>
								<div class="sel-field__main">
									<span class="sel-field__left">
										<img src="./img/countries/ru.svg" alt="" width="24" height="24">
									</span>
									<select class="sel-field__sel">
										<option value="" selected>Россия</option>
										<option value="">Грузия</option>
										<option value="">Казахстан</option>
									</select>
								</div>
							</div>
							<div class="country__field sel-field">
								<span class="sel-field__ph">Валюта</span>
								<div class="sel-field__main">
									<span class="sel-field__left">
										₽ <span>/</span>
									</span>
									<select class="sel-field__sel">
										<option value="" selected>Рубль</option>
										<option value="">Рубль</option>
										<option value="">Рубль</option>
									</select>
								</div>
							</div>
							<button class="btn-primary" type="submit">Подтвердить</button>
						</form>
					</div> -->
					<div class="burger">
						<span class="burger__item"></span>
						<span class="burger__item"></span>
						<span class="burger__item"></span>
					</div>
				</div>
				<form class="search">
					<input type="text" class="search__inp" placeholder="Я хочу найти">
					<button class="search__submit" type="submit">
						<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16.4697 16.9697C16.7626 16.6768 17.2374 16.6768 17.5303 16.9697L21.5303 20.9697C21.8232 21.2626 21.8232 21.7374 21.5303 22.0303C21.2374 22.3232 20.7626 22.3232 20.4697 22.0303L16.4697 18.0303C16.1768 17.7374 16.1768 17.2626 16.4697 16.9697Z" fill="#2F2B43" fill-opacity="0.4"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M11 4.25C6.99594 4.25 3.75 7.49594 3.75 11.5C3.75 15.5041 6.99594 18.75 11 18.75C13.0057 18.75 14.82 17.9365 16.1333 16.6197C17.4421 15.3074 18.25 13.4988 18.25 11.5C18.25 7.49594 15.0041 4.25 11 4.25ZM2.25 11.5C2.25 6.66751 6.16751 2.75 11 2.75C15.8325 2.75 19.75 6.66751 19.75 11.5C19.75 13.9118 18.7732 16.097 17.1954 17.679C15.6121 19.2664 13.4202 20.25 11 20.25C6.16751 20.25 2.25 16.3325 2.25 11.5Z" fill="#2F2B43" fill-opacity="0.4"/>
						</svg>
					</button>
				</form>
				<ul class="header__actions">
					<li class="drop">
						<a href="#">
							<img src="./img/icons/cabinet.svg" alt="" width="24" height="24">
							Кабинет
						</a>
						<ul class="drop__list">
							<li class="drop__item"><a href="#" class="drop__link">Мои данные</a></li>
							<li class="drop__item"><a href="#" class="drop__link">История заказов</a></li>
							<li class="drop__item"><a href="#" class="drop__link">Обратная связь</a></li>
							<li class="drop__item"><a href="#" class="drop__link gray">Выйти</a></li>
						</ul>
					</li>
					<li>
						<a href="#">
							<img src="./img/icons/favourite.svg" alt="" width="24" height="24">
							Избранное
						</a>
					</li>
					<li>
						<a href="#">
							<img src="./img/icons/cart.svg" alt="" width="24" height="24">
							Корзина
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="header__bottom">
			<div class="wrapper">
				<nav class="nav">
					<ul class="nav__list">
						<li class="nav__item menu-droper">
							<a href="#" class="nav__link">Женщинам</a>
							<div class="menu">
								<div class="wrapper">
									<div class="menu__content">
										<div class="menu__cols">
											<div class="menu__col">
												<div class="menu__title">Щенщинам</div>
												<ul class="menu__list">
													<li><a href="#">Брюки</a></li>
													<li><a href="#">Леггинсы</a></li>
													<li><a href="#">Топы</a></li>
													<li><a href="#">Рашгарды</a></li>
													<li><a href="#">Футболки</a></li>
													<li><a href="#">Худи</a></li>
													<li><a href="#">Шорты</a></li>
													<li><a href="#">Аксессуары</a></li>
												</ul>
											</div>
											<div class="menu__col">
												<div class="menu__title">Занятия</div>
												<ul class="menu__list">
													<li><a href="#">Йога</a></li>
													<li><a href="#">Фитнес</a></li>
													<li><a href="#">Бег</a></li>
													<li><a href="#">Активный отдых</a></li>
													<li><a href="#">Полиденс</a></li>
												</ul>
											</div>
											<div class="menu__col">
												<div class="menu__title">Спецпредложения</div>
												<ul class="menu__list">
													<li><a href="#">Весна 2023</a></li>
													<li><a href="#">Новинки</a></li>
													<li><a href="#">Распродажа</a></li>
													<li><a href="#">Скоро в продаже</a></li>
												</ul>
											</div>
										</div>
										<a href="#" class="menu__banner">
											<img src="./img/banners/menu-banner.webp" alt="" width="392" height="290">
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="nav__item"><a href="#" class="nav__link">Брюки</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Леггинсы</a></li>
						<!-- <li class="nav__item"><a href="#" class="nav__link">Топы</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Рашгарды</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Футболки</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Худи</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Шорты</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Аксессуары</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Распродажа</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Новинки</a></li> -->
						<li class="nav__item drop">
							<a href="#" class="nav__link">Покупателям</a>
							<ul class="drop__list">
								<li class="drop__item"><a href="#" class="drop__link">Доставка и оплата</a></li>
								<li class="drop__item"><a href="#" class="drop__link">Обмен и возврат</a></li>
								<li class="drop__item"><a href="#" class="drop__link">О компании</a></li>
								<li class="drop__item"><a href="#" class="drop__link">Личный кабинет</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</div>
	</header>

	<div class="burger-menu">
		<div class="wrapper">
			<form class="search">
				<input type="text" class="search__inp" placeholder="Я хочу найти">
				<button class="search__submit" type="submit">
					<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M16.4697 16.9697C16.7626 16.6768 17.2374 16.6768 17.5303 16.9697L21.5303 20.9697C21.8232 21.2626 21.8232 21.7374 21.5303 22.0303C21.2374 22.3232 20.7626 22.3232 20.4697 22.0303L16.4697 18.0303C16.1768 17.7374 16.1768 17.2626 16.4697 16.9697Z" fill="#2F2B43"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11 4.25C6.99594 4.25 3.75 7.49594 3.75 11.5C3.75 15.5041 6.99594 18.75 11 18.75C13.0057 18.75 14.82 17.9365 16.1333 16.6197C17.4421 15.3074 18.25 13.4988 18.25 11.5C18.25 7.49594 15.0041 4.25 11 4.25ZM2.25 11.5C2.25 6.66751 6.16751 2.75 11 2.75C15.8325 2.75 19.75 6.66751 19.75 11.5C19.75 13.9118 18.7732 16.097 17.1954 17.679C15.6121 19.2664 13.4202 20.25 11 20.25C6.16751 20.25 2.25 16.3325 2.25 11.5Z" fill="#2F2B43"/>
					</svg>
				</button>
			</form>
			<ul class="burger-menu__list">
				<li class="burger-menu__item dropable">
					<div class="burger-menu__title">Щенщинам</div>
					<ul class="burger-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
						<li><a href="#">Рашгарды</a></li>
						<li><a href="#">Футболки</a></li>
						<li><a href="#">Худи</a></li>
						<li><a href="#">Шорты</a></li>
						<li><a href="#">Аксессуары</a></li>
					</ul>
				</li>
				<li class="burger-menu__item dropable">
					<div class="burger-menu__title">Занятия</div>
					<ul class="burger-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
					</ul>
				</li>
				<li class="burger-menu__item dropable">
					<div class="burger-menu__title">Спецпредложения</div>
					<ul class="burger-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
					</ul>
				</li>
				<li class="burger-menu__item dropable">
					<div class="burger-menu__title">Покупателям</div>
					<ul class="burger-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
					</ul>
				</li>
				<li class="burger-menu__item">
					<a href="#" class="burger-menu__title">Покупателям</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="catalog-menu">
		<div class="wrapper">
			<form class="search">
				<input type="text" class="search__inp" placeholder="Я хочу найти">
				<button class="search__submit" type="submit">
					<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M16.4697 16.9697C16.7626 16.6768 17.2374 16.6768 17.5303 16.9697L21.5303 20.9697C21.8232 21.2626 21.8232 21.7374 21.5303 22.0303C21.2374 22.3232 20.7626 22.3232 20.4697 22.0303L16.4697 18.0303C16.1768 17.7374 16.1768 17.2626 16.4697 16.9697Z" fill="#2F2B43"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11 4.25C6.99594 4.25 3.75 7.49594 3.75 11.5C3.75 15.5041 6.99594 18.75 11 18.75C13.0057 18.75 14.82 17.9365 16.1333 16.6197C17.4421 15.3074 18.25 13.4988 18.25 11.5C18.25 7.49594 15.0041 4.25 11 4.25ZM2.25 11.5C2.25 6.66751 6.16751 2.75 11 2.75C15.8325 2.75 19.75 6.66751 19.75 11.5C19.75 13.9118 18.7732 16.097 17.1954 17.679C15.6121 19.2664 13.4202 20.25 11 20.25C6.16751 20.25 2.25 16.3325 2.25 11.5Z" fill="#2F2B43"/>
					</svg>
				</button>
			</form>
			<div class="cat__items">
				<a href="#" class="cat__item cat__item-lg">
					<div class="cat__text">
						<span class="cat__name">Брюки</span>
						<div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div>
					</div>
					<img src="./img/cats/img-1.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item cat__item-lg">
					<div class="cat__text">
						<span class="cat__name">Леггинсы</span>
						<div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div>
					</div>
					<img src="./img/cats/img-2.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item cat__item-md">
					<div class="cat__text">
						<span class="cat__name">Топы</span>
						<div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div>
					</div>
					<img src="./img/cats/img-3.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item cat__item-md">
					<div class="cat__text">
						<span class="cat__name">Рашгарды</span>
						<div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div>
					</div>
					<img src="./img/cats/img-4.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item cat__item-md">
					<div class="cat__text">
						<span class="cat__name">Футболки</span>
						<div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div>
					</div>
					<img src="./img/cats/img-5.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item cat__item-lg">
					<div class="cat__text">
						<span class="cat__name">Худи</span>
						<div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div>
					</div>
					<img src="./img/cats/img-6.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item cat__item-lg">
					<div class="cat__text">
						<span class="cat__name">Шорты</span>
						<div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div>
					</div>
					<img src="./img/cats/img-7.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<div class="cat__item cat__sale">
					<span class="cat__sale_alert">%</span>
					<span class="cat__sale_name">Распродажа</span>
				</div>
			</div>

			<ul class="catalog-menu__list">
				<li class="catalog-menu__item">
					<div class="catalog-menu__title">Щенщинам</div>
					<ul class="catalog-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
						<li><a href="#">Рашгарды</a></li>
						<li><a href="#">Футболки</a></li>
						<li><a href="#">Худи</a></li>
						<li><a href="#">Шорты</a></li>
						<li><a href="#">Аксессуары</a></li>
					</ul>
				</li>
				<li class="catalog-menu__item">
					<div class="catalog-menu__title">Занятия</div>
					<ul class="catalog-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
					</ul>
				</li>
				<li class="catalog-menu__item">
					<div class="catalog-menu__title">Спецпредложения</div>
					<ul class="catalog-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
					</ul>
				</li>
				<li class="catalog-menu__item">
					<div class="catalog-menu__title">Покупателям</div>
					<ul class="catalog-menu__sublist">
						<li><a href="#">Брюки</a></li>
						<li><a href="#">Леггинсы</a></li>
						<li><a href="#">Топы</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
    <section class="cart">
        <div class="wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                </ol>
            </nav>
            <div class="cart__top">
                <h1 class="cart__title title-xl">Корзина</h1>
                <button class="cart__clear" type="button">
                    <img src="./img/icons/cart-remove.svg" alt="" width="20" height="20">
                    Очистить корзину
                </button>
            </div>
            <div class="cart__content">
            	<div class="cart__left">
	                <div class="cart__items">
	                    <div class="c-item">
	                        <a href="#" class="c-item__img">
	                            <span class="c-item__img_in">
	                                <img src="./img/cart-item-img.png" alt="" width="83" height="110">
	                            </span>
	                        </a>
	                        <div class="c-item__main">
	                        	<div class="c-item__text">
		                            <a href="#" class="c-item__name">Лонгслив женский спортивный укороченный Womjoy Classic Logo Black</a>
		                            <span class="c-item__size">Размер: М</span>
	                            </div>
	                            <div class="c-item__actions">
	                                <button class="c-item__action c-item__minus" type="button">
	                                    <img src="./img/icons/minus.svg" alt="" width="24" height="24">
	                                </button>
	                                <input type="text" class="c-item__inp" value="1">
	                                <button class="c-item__action c-item__plus" type="button">
	                                    <img src="./img/icons/plus.svg" alt="" width="24" height="24">
	                                </button>
	                            </div>
	                            <div class="c-item__price">
	                                <span class="c-item__cost">1 299 ₽</span>
	                                <del class="c-item__disc">1 299 ₽</del>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="c-item">
	                        <a href="#" class="c-item__img">
	                            <span class="c-item__img_in">
	                                <img src="./img/cart-item-img.png" alt="" width="83" height="110">
	                            </span>
	                        </a>
	                        <div class="c-item__main">
	                        	<div class="c-item__text">
		                            <a href="#" class="c-item__name">Лонгслив женский спортивный укороченный Womjoy Classic Logo Black</a>
		                            <span class="c-item__size">Размер: М</span>
	                            </div>
	                            <div class="c-item__actions">
	                                <button class="c-item__action c-item__minus" type="button">
	                                    <img src="./img/icons/minus.svg" alt="" width="24" height="24">
	                                </button>
	                                <input type="text" class="c-item__inp" value="1">
	                                <button class="c-item__action c-item__plus" type="button">
	                                    <img src="./img/icons/plus.svg" alt="" width="24" height="24">
	                                </button>
	                            </div>
	                            <div class="c-item__price">
	                                <span class="c-item__cost">1 299 ₽</span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="c-item">
	                        <a href="#" class="c-item__img">
	                            <span class="c-item__img_in">
	                                <img src="./img/cart-item-img.png" alt="" width="83" height="110">
	                            </span>
	                        </a>
	                        <div class="c-item__main">
	                        	<div class="c-item__text">
		                            <a href="#" class="c-item__name">Лонгслив женский спортивный укороченный Womjoy Classic Logo Black</a>
		                            <span class="c-item__size">Размер: М</span>
	                            </div>
	                            <div class="c-item__actions">
	                                <button class="c-item__action c-item__minus" type="button">
	                                    <img src="./img/icons/minus.svg" alt="" width="24" height="24">
	                                </button>
	                                <input type="text" class="c-item__inp" value="1">
	                                <button class="c-item__action c-item__plus" type="button">
	                                    <img src="./img/icons/plus.svg" alt="" width="24" height="24">
	                                </button>
	                            </div>
	                            <div class="c-item__price">
	                                <span class="c-item__cost">1 299 ₽</span>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="checkout">
		                <div class="section-top">
		                	<h2 class="checkout__title title-l">Оформление заказа</h2>
		                </div>
		                <div class="checkout__row">
			                <div class="checkout__subtitle">Способ доставки</div>
			                <div class="pvz-block">
			                	<div class="pvz-block__text">
			                		<div class="pvz-block__title">Пункт выдачи СДЭК <img src="./img/icons/sdek-check.svg" alt="" width="24" height="24"></div>
			                		<div class="pvz-block__info">
			                			<span class="pvz-block__cost">500 ₽</span>
			                			<span>На Космонавтов 32</span>
			                		</div>
			                	</div>
			                	<button class="pvz-block__btn" type="button">Изменить</button>
			                </div>
			                <div class="pvz-block">
			                	<div class="pvz-block__text">
			                		<div class="pvz-block__title">Пункт выдачи не выбран</div>
			                		<div class="pvz-block__info">
			                			<span>Доставка от 500 ₽</span>
			                		</div>
			                	</div>
			                	<button class="btn-black" type="button">Выбрать пункт выдачи</button>
			                </div>
		                </div>
		                <div class="checkout__row">
			                <div class="checkout__subtitle">Способ оплаты</div>
			                <label class="pay-method">
			                	<input type="radio" name="pay_method" hidden checked>
			                	<span class="pay-method__rd"></span>
			                	<div class="pay-method__main">
			                		<div class="pay-method__top">
			                			<span class="pay-method__name">Картой онлайн</span>
			                			<div class="pay-method__imgs">
			                				<img src="./img/icons/mc.svg" alt="" width="45" height="32">
			                				<img src="./img/icons/mir.svg" alt="" width="45" height="32">
			                				<img src="./img/icons/visa.svg" alt="" width="45" height="32">
			                			</div>
			                		</div>
			                		<span class="gray">Без комиссии</span>
			                	</div>
			                </label>
			                <label class="pay-method">
			                	<input type="radio" name="pay_method" hidden>
			                	<span class="pay-method__rd"></span>
			                	<div class="pay-method__main">
			                		<div class="pay-method__top">
			                			<span class="pay-method__name">При получении</span>
			                		</div>
			                		<span class="gray">Оплата в пункте вывоза</span>
			                	</div>
			                </label>
		                </div>
		                <div class="checkout__row">
			                <div class="checkout__subtitle">Данные получателя</div>
			                <form class="field-list">
				                <div class="field">
		                            <span class="field__ph">Ваше имя</span>
		                            <input type="text" class="field__inp" placeholder="Иванов Иван Иванович">
		                        </div>
				                <div class="field">
		                            <span class="field__ph">Номер телефона</span>
		                            <input type="text" class="field__inp phone-masked-field" placeholder="+7 956 654-55-33">
		                        </div>
				                <div class="field">
		                            <span class="field__ph">Email для счёта</span>
		                            <input type="text" class="field__inp" placeholder="email@example.com">
		                        </div>
				                <div class="field field-text">
		                            <span class="field__ph">Комментарий к заказу</span>
		                            <textarea class="field__inp" placeholder="Текст комментария"></textarea>
		                        </div>
			                </form>
		                </div>
	                </div>

				</div>
                <div class="c-main">
                    <div class="c-main__title">Ваш заказ</div>
                    <ul class="c-main__list">
                        <li><span>Товары, 3 шт.</span><span>2000 р</span></li>
                        <li><span>Скидка</span><span>− 500 р</span></li>
                        <li><span>Доставка</span><span>Бесплатно</span></li>
                    </ul>
                    <div class="c-main__final">
                        Сумма заказа
                        <span class="c-main__cost">2 000 р</span>
                    </div>
                    <button class="c-main__btn btn-primary" type="button">Оформить заказ</button>
                    <label class="c-main__check f-check">
                        <input type="checkbox" checked hidden>
                        <span class="f-check__sq">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.08709 9.08709C2.72097 9.4532 2.72097 10.0468 3.08709 10.4129L6.08709 13.4129C6.4532 13.779 7.0468 13.779 7.41291 13.4129L14.9129 5.91291C15.279 5.5468 15.279 4.9532 14.9129 4.58709C14.5468 4.22097 13.9532 4.22097 13.5871 4.58709L6.75 11.4242L4.41291 9.08709C4.0468 8.72097 3.4532 8.72097 3.08709 9.08709Z" fill="#1A1E24" />
                            </svg>
                        </span>
                        <span class="f-check__txt">Согласен с условиями <a href="#">Правил пользования торговой площадкой</a></span>
                    </label>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
		<div class="wrapper">
			<div class="footer__main">
				<div class="footer__left">
					<a href="#" class="footer__logo">
						<img src="./img/logo.svg" alt="" width="205" height="36">
					</a>
					<div class="footer__phone">
						<a href="#" class="footer__phone_call">8 (800) 301-67-53</a>
						<span class="footer__phone_descr">Звонок по РФ бесплатный</span>
					</div>
					<ul class="footer__socials">
						<li><a href="#"><img src="./img/icons/vk.svg" alt="" width="40" height="40"></a></li>
						<li><a href="#"><img src="./img/icons/tg.svg" alt="" width="40" height="40"></a></li>
						<li><a href="#"><img src="./img/icons/wa.svg" alt="" width="40" height="40"></a></li>
					</ul>
				</div>
				<div class="footer__col">
					<div class="footer__title">Покупателям</div>
					<ul class="footer__list">
						<li><a href="#">Доставка и оплата</a></li>
						<li><a href="#">Обмен и возврат</a></li>
						<li><a href="#">Публичная оферта</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
						<li><a href="#">Отложенные товары</a></li>
					</ul>
				</div>
				<div class="footer__col">
					<div class="footer__title">Магазин</div>
					<ul class="footer__list">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Отзывы покупателей</a></li>
						<li><a href="#">Бонусные баллы</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Личный кабинет</a></li>
					</ul>
				</div>
				<div class="footer__right">
					<div class="footer__marketplaces">
						<a href="#" class="footer__marketplace">
							<img src="./img/icons/wb.png" alt="" class="footer__marketplace_img" width="40" height="40">
							<div class="footer__marketplace_text">
								<span class="footer__marketplace_descr">Наш магазин</span>
								<span class="footer__marketplace_name">Wildberries</span>
							</div>
						</a>
						<a href="#" class="footer__marketplace">
							<img src="./img/icons/ozon.png" alt="" class="footer__marketplace_img" width="40" height="40">
							<div class="footer__marketplace_text">
								<span class="footer__marketplace_descr">Наш магазин</span>
								<span class="footer__marketplace_name">Ozon</span>
							</div>
						</a>
						<a href="#" class="footer__marketplace">
							<img src="./img/icons/ym.png" alt="" class="footer__marketplace_img" width="40" height="40">
							<div class="footer__marketplace_text">
								<span class="footer__marketplace_descr">Наш магазин</span>
								<span class="footer__marketplace_name">Яндекс Маркет</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="wrapper">
				<div class="footer__bottom_row">
					<span class="footer__copyright">© 2019 - 2023 ООО "Вумджой"</span>
					<ul class="footer__pay">
						<li><img src="./img/icons/visa.svg" alt="" width="58" height="40"></li>
						<li><img src="./img/icons/mc.svg" alt="" width="58" height="40"></li>
						<li><img src="./img/icons/mir.svg" alt="" width="58" height="40"></li>
						<li><img src="./img/icons/sbp.svg" alt="" width="58" height="40"></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<ul class="mob-bar">
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link c-open">
            	<span class="mob-bar__icon"><img src="./img/icons/catalog.svg" alt="" width="24" height="24"></span>
                Каталог
            </a>
        </li>
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link">
            	<span class="mob-bar__icon"><img src="./img/icons/trace.svg" alt="" width="24" height="24"></span>
                Отследить
            </a>
        </li>
        <li class="mob-bar__item mob-bar__drop">
            <a href="#" class="mob-bar__link mob-bar__drop_trigger">
            	<span class="mob-bar__icon"><img src="./img/icons/cabinet.svg" alt="" width="24" height="24"></span>
                Кабинет
            </a>
            <ul class="mob-bar__drop_list">
            	<li><a href="#">Мои данные</a></li>
            	<li><a href="#">История заказов</a></li>
            	<li><a href="#">Обратная связь</a></li>
            	<li><a href="#" class="gray">Выйти</a></li>
            </ul>
        </li>
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link">
            	<span class="mob-bar__icon"><img src="./img/icons/favourite.svg" alt="" width="24" height="24"></span>
                Изрбранное
            </a>
        </li>
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link">
            	<span class="mob-bar__icon"><img src="./img/icons/cart.svg" alt="" width="24" height="24"></span>
                Корзина
            </a>
        </li>
    </ul>
    <script src="./libs/swiper/swiper.min.js"></script>
    <script src="./libs/inputmask.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>