<table class="main-wrapper_mr_css_attr" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dce3ea" style="border-collapse: collapse;background-color: #dce3ea;" dir="ltr">
    <tbody><tr>
        <td style="border-collapse: collapse;padding: 40px 10px 40px 10px;">
            <table class="content-wrapper_mr_css_attr" cellpadding="0" cellspacing="0" align="center" width="600" style="border-collapse: collapse;background-color: #ffffff;border: 1px solid #dce3ea;">
                <tbody><tr class="message-header_mr_css_attr">
                    <td style="border-collapse: collapse;padding: 10px 30px 20px 30px;color: #2e3a47;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;">
                        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                            <tbody><tr>
                                <td style="border-collapse: collapse;color: #2e3a47;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;"><a href="https://womjoy.ru" style="outline: none;color: #465f73;" target="_blank" rel=" noopener noreferrer"><img src="//af12.mail.ru/cgi-bin/readmsg?id=16629959540127129673;0;1&amp;mode=attachment&amp;email=service@womjoy.ru&amp;ct=image%2fsvg&amp;cn=csimg0.&amp;cte=binary" alt="ООО" width="226" height="37" style="-ms-interpolation-mode: bicubic;outline: none;text-decoration: none;border: none;width: auto;max-width: 300px;max-height: 150px;"></a></td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                <tr class="message-header__title_mr_css_attr" style="background-color: #465f73;">
                    <td style="border-collapse: collapse;padding: 20px 30px;">
                        <h1 style="color: #Fff;font-size: 20px;font-weight: normal;text-transform: uppercase;">Заказ #95876 не удался</h1>
                    </td>
                </tr>

                <tr class="message-body_mr_css_attr">
                    {% block body %}

                    {% endblock %}
                </tr>


                <tr class="message-footer_mr_css_attr" style="border-top: 1px solid #dce3ea;">
                    <td style="border-collapse: collapse;background-color: #757f83;padding: 20px 30px;color: #fff;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;">
                        <table class="info_mr_css_attr ty-email-footer-left-part_mr_css_attr" width="250" align="left" style="border-collapse: collapse;">
                            <tbody><tr>
                                <th class="footer-contact__title_mr_css_attr ty-email-footer_mr_css_attr" style="border-collapse: collapse;color: #fff !important;font-size: 16px !important;font-weight: bold;margin: 0px;text-transform: uppercase;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;border-bottom: 1px solid #dce3ea;text-align: center;border: none;">
                                    Контактная информация
                                </th>
                            </tr>
                            <tr>
                                <td class="ty-email-footer_mr_css_attr" style="border-collapse: collapse;color: #fff;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;padding: 5px;text-align: center;">
                                    Ленина 53, офис 5, Азов
                                </td>
                            </tr>
                            </tbody></table>

                        <table class="info_mr_css_attr ty-email-footer-right-part_mr_css_attr" width="250" align="right" style="border-collapse: collapse;">
                            <tbody><tr>
                                <th class="footer-social__title_mr_css_attr ty-email-footer_mr_css_attr" style="border-collapse: collapse;color: #fff !important;font-size: 16px !important;font-weight: bold;margin: 0px;text-transform: uppercase;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;border-bottom: 1px solid #dce3ea;text-align: center;border: none;">
                                    Присоединяйтесь!
                                </th>
                            </tr>
                            <tr>
                                <td class="ty-email-footer-social-buttons_mr_css_attr footer-social_mr_css_attr" style="border-collapse: collapse;color: #fff;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;padding: 5px;">
                                    <table cellspacing="0" cellpadding="0" align="center" style="border-collapse: collapse;">
                                        <tbody><tr>
                                            <td style="border-collapse: collapse;color: #fff;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;padding: 0px;padding-right: 10px;">
                                                <a href="http://www.facebook.com" style="outline: none;color: #465f73;" target="_blank" rel=" noopener noreferrer"><img width="30" height="30" src="//af12.mail.ru/cgi-bin/readmsg?id=16629959540127129673;0;3&amp;mode=attachment&amp;email=service@womjoy.ru&amp;ct=image%2fpng&amp;cn=csimg3.png&amp;cte=binary" style="-ms-interpolation-mode: bicubic;outline: none;text-decoration: none;border: none;"></a>
                                            </td>
                                            <td style="border-collapse: collapse;color: #fff;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;padding: 0px;padding-right: 10px;">
                                                <a href="https://twitter.com" style="outline: none;color: #465f73;" target="_blank" rel=" noopener noreferrer"><img width="30" height="30" src="//af12.mail.ru/cgi-bin/readmsg?id=16629959540127129673;0;4&amp;mode=attachment&amp;email=service@womjoy.ru&amp;ct=image%2fpng&amp;cn=csimg4.png&amp;cte=binary" style="-ms-interpolation-mode: bicubic;outline: none;text-decoration: none;border: none;"></a>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>


                <tr class="message-copyright_mr_css_attr">
                    <td style="border-collapse: collapse;padding: 0px 30px 10px;color: #2e3a47;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;">
                        <table class="copyright_mr_css_attr" width="100%" style="border-collapse: collapse;">
                            <tbody><tr>
                                <td style="border-collapse: collapse;color: #2e3a47;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;padding: 10px 0 0 0;padding-bottom: 0 !important;">
                                    ©&nbsp;ИП Новикова Н.А.
                                </td>
                                <td align="right" style="border-collapse: collapse;color: #2e3a47;font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif,Helvetica,Arial,sans-serif;font-size: 14px;padding: 10px 0 0 0;padding-bottom: 0 !important;">
                                    Благодарим вас за посещение нашего магазина.
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>

        </td>
    </tr>
    </tbody></table>