{% extends 'default/store/base.html.twig' %}

{% block body %}
<section class="typography">
    <div class="wrapper">
        <div class="mb-60">
            <div class="title-xl mb-20">Спасибо</div>
            <div class="title-m mb-20">Мы получили ваше обращение</div>
            <p>В течении 10 минут на указанную вами почту прийдет инструкция</p>
            <p class="mb-60">Как получить гарантию и фитнес курс.</p>
            <a href="{{ path('home') }}" class="btn-primary">На главную</a>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}

{% endblock %}

