{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="card card-body">
        <h1>Dashboard</h1>
        <a class="btn btn-bitbucket" href="{{ path('admin.tree_init') }}">Init tree</a>

    </div>
{% endblock %}
