<section class="support section">
    <div class="wrapper">
        <div class="support__content">
            <h2 class="support__title section-title">Служба поддержки покупателей</h2>
            <div class="support__text">
                <a href="tel:+78003016753" class="support__call">8 (800) 301-67-53</a>
                <span class="support__descr">Звонок по РФ бесплатный</span>
            </div>

            <img src="{{ asset('./default/img/icons/support-bg.svg') }}" alt="support bg" class="support__img" width="346" height="170">
        </div>
    </div>
</section>