<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Womjoy</title>

	<!-- <link rel="stylesheet" href="./libs/swiper/swiper.min.css"> -->
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div class="h-grid-12-col hidden">
        <div class="h-grid-12-col-items">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    @@include('./parts/header.html')

	<section class="hero">
		<div class="wrapper">
			<!-- <div class="hero__slider">
				<div class="hero-swiper swiper">
					<div class="swiper-wrapper">
						<a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="./img/banners/hero-lg-mob.webp" media="(max-width: 480px)">
									<img src="./img/banners/hero-lg.webp" alt="" width="1216" height="460">
								</picture>
							</span>
						</a>
						<a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="./img/banners/hero-lg-mob.webp" media="(max-width: 480px)">
									<img src="./img/banners/hero-lg.webp" alt="" width="1216" height="460">
								</picture>
							</span>
						</a>
						<a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="./img/banners/hero-lg-mob.webp" media="(max-width: 480px)">
									<img src="./img/banners/hero-lg.webp" alt="" width="1216" height="460">
								</picture>
							</span>
						</a>
						<a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="./img/banners/hero-lg-mob.webp" media="(max-width: 480px)">
									<img src="./img/banners/hero-lg.webp" alt="" width="1216" height="460">
								</picture>
							</span>
						</a>
					</div>
				</div>
				<div class="hero-pagination"></div>
			</div> -->
			<div class="hero__slider">
				<div class="hero-swiper swiper">
					<div class="swiper-wrapper">
						<div class="hero__slide swiper-slide">
							<a href="#" class="big-banner">
								<picture>
									<source srcset="./img/hero-banner-mob.webp" media="(max-width: 499px)">
									<source srcset="./img/hero-banner.webp" media="(min-width: 500px)">
									<img src="./img/hero-banner.webp" alt="" class="big-banner__img" width="1216" height="460">
								</picture>
								<div class="big-banner__text">
									<div class="big-banner__title">Новая коллекция</div>
									<div class="big-banner__descr">Бесплатная доставка при оплате на сайте</div>
									<button type="button" class="btn-primary">Смотреть товары</button>
								</div>
							</a>
						</div>
						<div class="hero__slide swiper-slide">
							<a href="#" class="big-banner-2">
								<div class="big-banner-2__text">
									<div class="big-banner-2__title">Новая коллекция</div>
									<div class="big-banner-2__descr">Бесплатная доставка при оплате на сайте</div>
									<button type="button" class="btn-primary">Смотреть товары</button>
								</div>
								<picture>
									<source srcset="./img/hero-banner-mob.webp" media="(max-width: 499px)">
									<source srcset="./img/hero-banner.webp" media="(min-width: 500px)">
									<img src="./img/hero-banner.webp" alt="" class="big-banner__img" width="1216" height="460">
								</picture>
							</a>
						</div>
					</div>
				</div>
				<div class="hero-pagination"></div>
			</div>

			<div class="hero__banners">
				<a href="#" class="hero__banner">
					<span class="hero__banner_img">
						<picture>
							<source srcset="./img/banners/hero-sm-1-mob.webp" media="(max-width: 480px)">
							<img src="./img/banners/hero-sm-1.webp" alt="" width="598" height="150">
						</picture>
					</span>
				</a>
				<a href="#" class="hero__banner">
					<span class="hero__banner_img">
						<picture>
							<source srcset="./img/banners/hero-sm-2-mob.webp" media="(max-width: 480px)">
							<img src="./img/banners/hero-sm-2.webp" alt="" width="598" height="150">
						</picture>
					</span>
				</a>
			</div>
		</div>
	</section>

	<section class="cat section">
		<div class="wrapper">
			<div class="section-top">
				<h2 class="section-title">Категории</h2>
			</div>

			@@include('./parts/cat-items.html')
		</div>
	</section>

	<section class="products section">
		<div class="wrapper">
			<div class="section-top">
				<h2 class="section-title">Новинки</h2>
				<a href="#" class="section-checkall">
					Смотреть все 
					<img src="./img/icons/green-arrow-right.svg" alt="" width="24" height="24">
				</a>
			</div>

			@@include('./parts/products-slider.html')
		</div>
	</section>

	@@include('./parts/support.html')

	<section class="products section">
		<div class="wrapper">
			<div class="section-top">
				<h2 class="section-title">Популярное</h2>
				<a href="#" class="section-checkall">
					Смотреть все 
					<img src="./img/icons/green-arrow-right.svg" alt="" width="24" height="24">
				</a>
			</div>

			@@include('./parts/products.html')
		</div>
	</section>

	<section class="subscribe section">
		<div class="wrapper">
			<div class="subscribe__content">
				<div class="subscribe__text">
					<h2 class="subscribe__title section-title">Выгода с доставкой</h2>
					<p class="subscribe__descr">Подпишитесь и получайте промокоды, акции и подборки товаров</p>
				</div>
				<form class="subscribe__form">
					<div class="subscribe__field field">
						<span class="field__ph">Электронная почта</span>
						<input type="text" class="field__inp" value="email@example.com">
					</div>
					<button class="subscribe__btn btn-primary" type="submit">Подписаться</button>
				</form>
			</div>
		</div>
	</section>

	@@include('./parts/seo.html')

	@@include('./parts/footer.html')
</body>
</html>