{% extends '../store_' %}

{% block body %}
    <section class="typography">
        <div class="wrapper">
            <div class="typography__grid">
                <div class="pages">
                    <div class="pages__top">
                        Разделы
                    </div>
                   {% include 'common/page_menu.html.twig' %}
                </div>
                <div class="typography__top">
                    <h1 class="title-xl">Доставка и Оплата</h1>
                </div>
                <div class="typography__main">
                    <p class="mb-20">Быстрая доставка в <strong>5000</strong> населенных пунктов. Отправляем по всей территории РОССИИ и СНГ.</p>
                    <h4 class="title-s mb-20">1. Бесплатная доставка на ПВЗ с примеркой.</h4>
                    <div class="mb-20">
                        <div class="table">
                            <table>
                                <tbody>
                                <tr class="top">
                                    <td>
                                        <p>&nbsp;
                                        </p>
                                    </td>
                                    <td><p>ПВЗ (Пункт выдачи заказов)</p></td>
                                    <td><p>Курьерская доставка</p></td>
                                </tr>
                                <tr>
                                    <td><p>Стоимость доставки</p></td>
                                    <td>
                                        <p>БЕСПЛАТНО</p>
                                    </td>
                                    <td>
                                        <p>Рассчитывается<span style="background-color: transparent;">&nbsp;калькулятором в корзине</span></p>
                                        <p>от 421 – 621*
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Срок передачи груза в службу доставки
                                        </p>
                                    </td>
                                    <td>
                                        <p>1-2 дня
                                        </p>
                                    </td>
                                    <td>
                                        <p>1-2 дня.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Срок доставки
                                        </p>
                                    </td>
                                    <td>
                                        <p>1-10 дней
                                        </p>
                                    </td>
                                    <td>
                                        <p>1-12 дней
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Примерка
                                        </p>
                                    </td>
                                    <td>
                                        <p>Да
                                        </p>
                                    </td>
                                    <td>
                                        <p>Да
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Доставка до двери
                                        </p>
                                    </td>
                                    <td>
                                        <p>Нет
                                        </p>
                                    </td>
                                    <td>
                                        <p>Да
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Возможность оплаты банковской картой при получении
                                        </p>
                                    </td>
                                    <td>
                                        <p>Да
                                        </p>
                                    </td>
                                    <td>
                                        <p>Нет
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Срок хранения посылки
                                        </p>
                                    </td>
                                    <td>
                                        <p>7 дней
                                        </p>
                                    </td>
                                    <td>
                                        <p>7 дней
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>* В зависимости от удаленности вашего региона.
                        ** Доставка и возврат осуществляется сервисом СДЭК.</p>
                    <p><br></p>
                    <h4 class="title-s mb-10">2. Отслеживание отправления</h4>
                    <p>Все заказы отправляются на следующий рабочий день после оплаты.<br>После отправки мы вышлем Вам трек-номер отправления, по нему можно будет отследить перемещение Вашей посылки.</p>
                    <p><br></p>
                    <h4 class="title-s mb-10">3. Оплата банковской картой при получении</h4>
                    <p>Вы можете оплатить заказ банковской картой на ПВЗ (Пункт вывоза заказ) после примерки и проверки комплектности товара.</p>
                    <p><br></p>
                    <h4 class="title-s mb-10">4. Онлайн оплата банковской картой</h4>
                    <p>Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».<br></p>
                    <p><img src="{{ asset('./default/img/icons/alfa.svg') }}" alt="alfa bank"><br></p>
                    <p>К оплате принимаются карты VISA, MasterCard, МИР.
                    </p>
                    <p>
                        <img src="{{ asset('./default/img/icons/visa.svg') }}" style="width: 190px; height: 71.9896px;" width="190" height="70">
                        <img src="{{ asset('./default/img/icons/mc.svg') }}" style="width: 101px; height: 70px;" width="101" height="77.9757">
                        <img src="{{ asset('./default/img/icons/mir.svg') }}" style="width: 220px; height: 63px;" width="220" height="70">
                    </p>
                    <p>Принимаем онлайн-платежи по банковским картам следующих платежных систем в любой валюте:</p>
                    <p>К оплате не принимаются банковские карты без технологии 3D Secure (Для подтверждения операции вам приходит пароль по СМС ), выпущенные в России, а также Visa, MasterCard, JCB/UnionPay и МИР без кода CVV2 / CVC2. Оплата заказа производится через интернет непосредственно после его оформления. В случае, если Вы оплатили заказ банковской карточкой и затем отказались от него, возврат переведенных средств производится на Ваш банковский (карточный) счет.</p>
                    <p>Оплата предоставляется без комиссии. Платежи осуществляются перечислением денежных средств с банковских карт VISA и MASTER CARD&nbsp; JCB/UnionPay и МИР при наличии возможности совершения интернет-платежей, предоставленных Вашим банком, выпустившим банковскую карту. О наличии возможности совершения интернет-платежей с использованием банковской карты, Вы можете узнать, обратившись в банк.</p>
                    <p><br></p>
                    <h4 class="title-s mb-10">Конфиденциальность</h4>
                    <p>Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице банка &mdash; партнера, предоставляющего Услугу. Нашим банком &mdash; партнером является ОАО «Альфа-Банк».<br>
                    </p>
                    <p><br></p>
                    <h4 class="title-s mb-10">Случаи отказа в совершении платежа:</h4>
                    <p>Банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, осведомившись в Вашем Банке;</p>
                    <p>Данные банковской карты введены неверно. Для корректного ввода необходимо внимательно и точно, соблюдая последовательность цифр и букв, ввести данные так, как они указаны на Вашей карте:<br>Владелец карты (как правило, указан на лицевой стороне банковской карты на английском языке заглавными буквами. Например, IVANOV IVAN)</p>
                    <p>Номер карты (как правило, указан на лицевой стороне банковской карты и состоит из 16-и цифр. Например: 0123 4567 8901 2345)</p>
                    <p>Срок действия карты (как правило, указан на лицевой стороне банковской карты &mdash; месяц и год, до которого действительна карта. Срок действия карты вводится цифрами. Например, 12 (вводится в поле месяца) и 13 (вводится в поле года), что означает, что карта действительна до декабря 2013 года)</p>
                    <p>CVV2 или CVC2 код карты (как правило, указан на обратной стороне банковской карты и состоит из 3-х цифр. Например, 123)</p>
                    <p>Истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту</p>
                    <p>Недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту</p>
                    <p>Превышен установленный лимит операций за день. Сумма ежедневного лимита для всех операций определяется банком-партнером.</p>
                    <p>SMS-пароль. Если Вам не приходит одноразовый SMS-пароль, необходимый для осуществления покупки в Интернете по технологии 3D Secure, то необходимо обратиться в службу поддержки банка, выпустившего Вашу карту.</p>
                    <p><br></p>
                    <h4 class="title-s mb-10">ООО "ВУМДЖОЙ"</h4>
                    <ul class="ul">
                        <li>ИНН: 6140011194</li>
                        <li>КПП: 614001001</li>
                        <li>ОГРН: 1196196036838</li>
                        <li>Р/С: 40702810726140001479</li>
                        <li>Банк: ФИЛИАЛ «РОСТОВСКИЙ» АО «АЛЬФА-БАНК»</li>
                        <li>БИК: 046015207</li>
                        <li>Кор. счёт: 30101810500000000207</li>
                    </ul>
                    <p><br>Контакты для связи с магазином по вопросам обмена или возврата товаров:<br></p>
                    <p>Email: sales@womjoy.ru</p>
                    <p>Телефон:+7(800)350-13-76 (многоканальный)<br>Адрес: 346781, г. Азов, ул. Севастопольская, дом 81 офис 76</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}