{% extends '../store_' %}

{% block body %}
    <section class="typography">
        <div class="wrapper">
            <div class="typography__grid">
                <div class="pages">
                    <div class="pages__top">
                        Разделы
                    </div>
                    {% include 'common/page_menu.html.twig' %}
                </div>
                <div class="typography__top">
                    <h1 class="title-xl">Публичная оферта</h1>
                </div>
                <div class="typography__main">
                    <div>
                        <p>Настоящий документ – это публичная оферта (предложение) интернет-магазина <a href="https://womjoy.ru/">https://womjoy.ru/</a> (далее – Сайт) о продаже товаров.<br></p>
                        <ol class="ol">
                            <li>
                                <h5 class="title-xs">Общие положения</h5>

                                <ol>
                                    <li>1.1. Настоящая публичная оферта (далее - Оферта) является официальным предложением ООО «Вумджой» в адрес любого физического лица заключить с ООО «Вумджой» договор розничной купли-продажи товара на Сайте дистанционным образом на условиях, определенных в настоящем Договоре и содержит все существенные условия Оферты.</li>
                                    <li>1.2. Заказ Покупателем товара, размещенного на Сайте, означает, что Покупатель согласен со всеми условиями настоящей Оферты, Политики конфиденциальности и Пользовательского соглашения.</li>
                                    <li>1.3. Сайт имеет право вносить изменения в Оферту без уведомления Покупателя.</li>
                                    <li>1.4. Срок действия Оферты не ограничен, если иное не указано на Сайте</li>
                                    <li>1.5. Сайт предоставляет Покупателю полную и достоверную информацию о товаре/услугах, включая информацию об основных потребительских свойствах товара, месте изготовления, а также информацию о гарантийном сроке и сроке годности товара на Сайте в разделе «Гарантия, обмен и возврат».</li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Предмет Оферты</h5>

                                <ol>
                                    <li>2.1. Сайт обязуется передать Покупателю товар, предназначенный для личного, семейного, домашнего или иного использования, на основании размещенных Заказов, а Покупатель обязуется принять и оплатить Товар на условиях настоящей Оферты.</li>
                                    <li>2.2. Наименование, цена, количество товара, а также прочие необходимые условия Оферты определяются на основании сведений, предоставленных Покупателем при оформлении заказа.</li>
                                    <li>2.3. Право собственности на заказанные товары переходит к Покупателю с момента фактической передачи товара Покупателю и оплаты последним полной стоимости товара. Риск его случайной гибели или повреждения товара переходит к Покупателю с момента фактической передачи товара Покупателю.</li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Стоимость товара</h5>

                                <ol>
                                    <li>3.1. Цены на товар определяются Продавцом в одностороннем бесспорном порядке и указываются на страницах интернет-магазина, расположенного по интернет-адресу: https://womjoy.ru/.</li>
                                    <li>3.2. Цена товара указывается в рублях Российской Федерации и включает в себя налог на добавленную стоимость.</li>
                                    <li>
                                        3.3. Окончательная цена товара определяется последовательным действием на цену товара скидок по следующему порядку:
                                        <ul class="ul">
                                            <li>Акционная скидка;</li>
                                            <li>Скидка по промокоду;</li>
                                            <li>Скидка постоянного Покупателя;</li>
                                        </ul>
                                    </li>
                                    <li>3.4. Расчеты между Сайтом и Покупателем за товар производятся способами, указанными на Сайте в разделе «Оплата и доставка».</li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Момент заключения Оферты</h5>

                                <ol>
                                    <li>4.1. Акцептом настоящей Оферты (договора) является оформление Покупателем заказа на товар в соответствии с условиями настоящей Оферты. Оформление Покупателем заказа на товар производится через корзину Сайта.</li>
                                    <li>
                                        4.2. Акцептируя настоящую Оферту, Покупатель выражает согласие в том, что:
                                        <ul class="ul">
                                            <li>регистрационные данные (в том числе персональные данные) указаны им добровольно;</li>
                                            <li>регистрационные данные (в том числе персональные данные) передаются в электронной форме по каналам связи сети «Интернет»;</li>
                                            <li>регистрационные данные (в том числе персональные данные) переданы Сайту для реализации целей, указанных в настоящей Оферте, Политике конфиденциальности, Пользовательском соглашении и могут быть переданы третьим лицам, для реализации целей, указанных в настоящей Оферте;</li>
                                            <li>регистрационные данные (в том числе персональные данные) могут быть использованы Сайтом в целях продвижения товаров и услуг, путем осуществления прямых контактов с Покупателем с помощью каналов связи;</li>
                                            <li>в целях дополнительной защиты от мошеннических действий указанные Покупателем регистрационные данные (в том числе персональные данные) могут быть переданы банку, осуществляющему транзакции по оплате оформленных заказов;</li>
                                            <li>данное Покупателем согласие на обработку его регистрационных данных (в том числе персональных данных) является бессрочным и может быть отозвано Покупателем или его законным представителем, подачей письменного заявления, переданного Сайту.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Возврат товара и денежных средств</h5>

                                <ol>
                                    <li>5.1. Возврат товара осуществляется в соответствии с Законом РФ «О защите прав потребителей».</li>
                                    <li>
                                        5.2. Возврат денежных средств осуществляется посредством возврата стоимости оплаченного товара на банковскую карту, наличными или почтовым переводом.&nbsp;
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Доставка товара</h5>

                                <ol>
                                    <li>6.1. Доставка товара Покупателю осуществляется в сроки, согласованные Сторонами при подтверждении заказа сотрудником Сайта.</li>
                                    <li>
                                        6.2. При курьерской доставке товара Покупатель в реестре доставки ставит свою подпись напротив тех позиций товара, которые Покупатель приобрел. Данная подпись служит подтверждением того, что Покупатель не имеет претензий к комплектации товара, к количеству и внешнему виду товара.&nbsp;
                                    </li>
                                    <li>
                                        6.3. После получения товара претензии к&nbsp; количеству, комплектности и виду товара не принимаются.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Срок действия Оферты</h5>

                                <ol>
                                    <li>7.1. Настоящая Оферта вступает в силу с момента ее акцепта Покупателем, и действует до момента отзыва акцепта публичной Оферты.</li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Дополнительные условия</h5>

                                <ol>
                                    <li>8.1. Сайт вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.</li>
                                    <li>8.2. Сайт и предоставляемые сервисы могут временно частично или полностью недоступны по причине проведения профилактических или иных работ или по любым другим причинам технического характера. Техническая служба Сайта имеет право периодически проводить необходимые профилактические или иные работы с предварительным уведомлением Покупателей или без такового.</li>
                                    <li>8.3. К отношениям между Покупателем и Сайтом применяются положения Российского законодательства.</li>
                                    <li>8.4. В случае возникновения вопросов и претензий со стороны Покупателя он должен обратиться к Сайту по телефону или иным доступным способом. Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством РФ.</li>
                                    <li>8.5. Признание судом недействительности какого-либо положения настоящего Соглашения не влечет за собой недействительность остальных положений.</li>
                                </ol>
                            </li>
                            <li>
                                <h5 class="title-xs">Реквизиты Сайта</h5>

                                <ul class="ul">
                                    <li>ООО "ВУМДЖОЙ"</li>
                                    <li>ИНН: 6140011194</li>
                                    <li>КПП: 614001001</li>
                                    <li>ОГРН: 1196196036838</li>
                                    <li>Р/С: 40702810726140001479</li>
                                    <li>Банк: ФИЛИАЛ «РОСТОВСКИЙ» АО «АЛЬФА-БАНК»</li>
                                    <li>БИК: 046015207</li>
                                    <li>Кор. счёт: 30101810500000000207</li>
                                    <li>Электронная почта для обращений - info@womjoy.ru.</li>
                                    <li>Дата публикации: 01.11.2019 г.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}