{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Setting
            </div>
            <h2 class="page-title">
                Moysklad setting
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
            </div>
        </div>
    </div>
    <div class="card card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-bitbucket">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}