<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         cacheResultFile="var/cache/.phpunit.result.cache"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Controller</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>

        </exclude>
    </coverage>

    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="1" force="true"/>

        <!-- ###+ sentry/sentry-symfony ### -->
        <env name="SENTRY_DSN" value=""/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <!-- ###- sentry/sentry-symfony ### -->
    </php>
</phpunit>
