{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Matrix
            </div>
            <h2 class="page-title">
                Color index
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3">
        <a class="btn btn-bitbucket" href="{{ path('matrix.admin.color.create') }}">Create new</a>
    </div>
    <div class="card card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for color in pagination %}
                <tr>
                    <td class='w-5'>{{ color.id }}</td>
                    <td>{{ color.name }}</td>
                    <td class="w-5">
                        <div class="btn-group w-100" role="group">
                            <a class="btn btn-sm btn-bitbucket rounded-4" href="#">show</a>
                            <a class="btn btn-sm btn-bitbucket rounded-4" href="#">edit</a>
                            <a class="btn btn-sm btn-red rounded-4" href="#">remove</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {#<div class="pagination mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>#}
    </div>
{% endblock %}
