<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./libs/swiper/swiper.min.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

	@@include('./parts/header-in.html')

    <div class="container-xxl">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__item">Главная</a>
            <div class="breadcrumbs__current">ДОСТАВКА</div>
        </div>

    	<section class="catalog section">
            <h1 class="mb-3 text-uppercase">ДОСТАВКА</h1>

            <div class="text">
                <p><strong>Срок обработки и доставки заказов может быть увеличен до 3-х дней.</strong></p>
                <p>Рассчитайте условия доставки в зависимости от региона в таблице ниже.</p>
                <p>Точная стоимость доставки по вашему адресу будет указана при оформлении заказа.</p>
                <p>Заказ с доставкой за пределы РФ можно оформить на нашем международном сайте <a href="#">belleyou.com</a></p>
                <p>Для клиентов heartheartheart уровня программы лояльности доставка по РФ всегда бесплатна.</p>

                <div class="d-flex align-items-center">
                    <img src="./img/icons/loc.svg" alt="" width="24" height="24" class="me-2">
                    Ваш город: <a href="#" data-modaltarget="modal-city" class="ms-1">Москва</a>
                </div>
            </div>
        </section>
    </div>

    <div class="modal modal-lg" id="modal-city">
        <div class="modal__bg"></div>
        <div class="modal__content">
            <div class="modal__top">
                <span class="modal__title">ВЫБЕРИТЕ ГОРОД</span>
                <buttno class="modal__close ms-auto" type="button"><img src="./img/icons/close.svg" alt=""></buttno>
            </div>
            <img src="./img/divide.webp" alt="">
            <div class="modal__bottom">
                <b>Подробнее на <a href="#" class="text-decoration-underline">podeli.ru</a></b>
                ООО А-4 Технологии, ОГРН 1227700064734
            </div>
        </div>
    </div>

    @@include('./parts/footer.html')
</body>

</html>