<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./libs/swiper/swiper.min.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

	@@include('./parts/header-in.html')

    <div class="container-xxl">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__item">Главная</a>
            <a href="#" class="breadcrumbs__item">Каталог</a>
            <div class="breadcrumbs__current">Одежда</div>
        </div>

    	<section class="catalog w-section">
            <h1 class="mb-3 text-uppercase">ВАРИАНТЫ ОПЛАТЫ</h1>

            <div class="w-text">
                <div class="py-3 border-bottom">
                    <div class="d-flex align-items-center fw-bold mb-3">
                        <img src="./img/icons/cash.svg" alt="" width="22" height="20" class="me-3">
                        НАЛИЧНЫМИ ИЛИ БАНКОВСКОЙ КАРТОЙ ПРИ ПОЛУЧЕНИИ
                    </div>
                    <p>При доставке курьерской службой DPD или СДЭК.</p>
                </div>
                <div class="py-3 border-bottom">
                    <div class="d-flex align-items-center fw-bold mb-3">
                        <img src="./img/icons/online-pay.svg" alt="" width="22" height="20" class="me-3">
                        ОНЛАЙН-ОПЛАТА
                    </div>
                    <p>Оплатить заказ можно онлайн при оформлении заказа на сайте</p>
                </div>
                <div class="py-3 border-bottom">
                    <div class="d-flex align-items-center fw-bold mb-3">
                        <img src="./img/icons/transfer.svg" alt="" width="22" height="20" class="me-3">
                        ПЕРЕВОД НА РАСЧЕТНЫЙ СЧЕТ
                    </div>
                    <p>Свяжитесь, пожалуйста, с менеджерами интернет-магазина для получения счета или реквизитов для оплаты</p>
                </div>
                <div class="py-3 border-bottom mb-3">
                    <div class="d-flex align-items-center fw-bold mb-3">
                        <img src="./img/icons/partly.svg" alt="" width="22" height="20" class="me-3">
                        ПОДЕЛИ – ОПЛАТА ПО ЧАСТЯМ
                    </div>
                    <p>Сегодня оплачивайте только 25% стоимости покупки, остальное – тремя платежами раз в 2 недели. Это не кредит, никаких дополнительных платежей и процентов – как обычная оплата картой!</p>
                    <p><strong>Как воспользоваться</strong></p>
                    <ul class="disced">
                        <li>Выберите «Подели» в способах оплаты в корзине</li>
                        <li>Заполните короткую анкету</li>
                        <li>Оплатите 25% стоимости и покупка уже ваша</li>
                        <li>Остальные три части будут списываться с вашей банковской карты автоматически раз в 2 недели</li>
                        <li>Следите за графиком платежей в мобильном приложении Подели</li>
                        <li>ООО «А-4 Технологии», ОГРН 1227700064734</li>
                    </ul>
                </div>
                <p>Для выбора оплаты товара онлайн (через интернет с помощью банковской карты) на соответствующей странице (оформление заказа) необходимо выбрать опцию «Оплата онлайн».</p>
                <p>В настоящее время принимаются карты, выпущенные только российскими банками. Оплата происходит через Сбербанк с использованием Банковских карт следующих платежных систем:</p>
                <img src="./img/icons/payments.svg" alt="">
                <p></p>
                <p>Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз Сбербанка. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля.</p>
                <p>Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается Сбербанком. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int., MasterCard Europe Sprl, UnionPay Int., JCB Co., American Express (AmEx).</p>
                <p><strong>Случаи отказа в совершении платежа:</strong></p>
                <ul class="disced">
                    <li>банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;</li>
                    <li>недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;</li>
                    <li>данные банковской карты введены неверно;</li>
                    <li>истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;</li>
                </ul>
                <p>По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим телефонам:&nbsp;<a target="_blank" href="tel:8-800-707-24-26">8-800-707-24-26</a>.</p>
                <p>Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.</p>
            </div>
        </section>
    </div>

    @@include('./parts/footer.html')
</body>

</html>