<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./libs/swiper/swiper.min.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    @@include('./parts/header-in.html')
    <div class="container-xxl">

    	<div class="row">
    		<div class="col col-12 col-lg-6">
		    	<div class="w-field mb-4">
		            <label class="w-field__label">ПОЛЕ*</label>
		            <div class="w-field__main"><input type="text" class="w-field__inp" placeholder="Введите название"></div>
		        </div>
		    	<div class="w-field mb-4">
		            <label class="w-field__label">ПОЛЕ С ОПИСАНИЕМ СНИЗУ*</label>
		            <div class="w-field__main"><input type="text" class="w-field__inp" placeholder="Введите название"></div>
		            <span class="w-field__descr">Минимум 8 символов</span>
		        </div>
    		</div>
    		<div class="col col-12 col-lg-6">
		    	<div class="w-field w-field mb-4">
		            <label class="w-field__label">ПОЛЕ С ОШИБКОЙ*</label>
		            <div class="w-field__main border-danger"><input type="text" class="w-field__inp" placeholder="Введите название"></div>
		            <span class="text-danger d-inline-block mt-2">Текст ошибки</span>
		        </div>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col col-12 col-lg-6">
    			<div class="w-field mb-4">
                    <label class="w-field__label">Список большой серый</label>
                    <div class="w-sel w-sel-lg w-sel-dark">
                        <div class="w-sel__trigger">
                            Россия
                        </div>
                        <div class="w-sel__dropdown">
                            <label class="w-sel__item">
                                <input type="radio" name="sel-1" checked hidden>
                                <span></span>
                                Россия
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-1" hidden>
                                <span></span>
                                Беларусь
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-1" hidden>
                                <span></span>
                                Казахстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-1" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-1" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-1" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-1" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                        </div>
                    </div>
                </div>
		    	<div class="w-field mb-4">
                    <label class="w-field__label">Список маленький серый</label>
                    <div class="w-sel w-sel-sm w-sel-dark">
                        <div class="w-sel__trigger">
                            Россия
                        </div>
                        <div class="w-sel__dropdown">
                            <label class="w-sel__item">
                                <input type="radio" name="sel-2" checked hidden>
                                <span></span>
                                Россия
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-2" hidden>
                                <span></span>
                                Беларусь
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-2" hidden>
                                <span></span>
                                Казахстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-2" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-2" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-2" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-2" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                        </div>
                    </div>
                </div>
    		</div>
    		<div class="col col-12 col-lg-6">
    			<div class="w-field mb-4">
                    <label class="w-field__label">Список большой белый</label>
                    <div class="w-sel w-sel-lg w-sel-white">
                        <div class="w-sel__trigger">
                            Россия
                        </div>
                        <div class="w-sel__dropdown">
                            <label class="w-sel__item">
                                <input type="radio" name="sel-3" checked hidden>
                                <span></span>
                                Россия
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-3" hidden>
                                <span></span>
                                Беларусь
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-3" hidden>
                                <span></span>
                                Казахстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-3" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-3" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-3" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-3" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                        </div>
                    </div>
                </div>
    			<div class="w-field mb-4">
                    <label class="w-field__label">Список маленький белый</label>
                    <div class="w-sel w-sel-sm w-sel-white">
                        <div class="w-sel__trigger">
                            Россия
                        </div>
                        <div class="w-sel__dropdown">
                            <label class="w-sel__item">
                                <input type="radio" name="sel-4" checked hidden>
                                <span></span>
                                Россия
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-4" hidden>
                                <span></span>
                                Беларусь
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-4" hidden>
                                <span></span>
                                Казахстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-4" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-4" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-4" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                            <label class="w-sel__item">
                                <input type="radio" name="sel-4" hidden>
                                <span></span>
                                Кыргызстан
                            </label>
                        </div>
                    </div>
                </div>
    		</div>

    		<div class="col col-12 col-lg-6">
    			<div class="p-3 bg-danger bg-opacity-10 text-danger">КРАСНОЕ УВЕДОМЛЕНИЕ</div>
    		</div>
    		<div class="col col-12 col-lg-6">
    			<div class="p-3 bg-warning bg-opacity-10 text-warning">ЖЕЛТОЕ УВЕДОМЛЕНИЕ</div>
    		</div>
    	</div>

    	<section class="w-text">
    		<br>
            <div class="fs-3">МАЛЕНЬКИЙ ТЕКСТ</div>
            <p class="w-text-sm">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Текстами правилами, языкового путь переписали грустный мир за строчка, повстречался.</p>
            <div class="fs-3">СРЕДНИЙ ТЕКСТ (СТАНДАРТ)</div>
            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Текстами правилами, языкового путь переписали грустный мир за строчка, повстречался.</p>
            <div class="fs-3">БОЛЬШОЙ ТЕКСТ</div>
            <p class="w-text-lg">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Текстами правилами, языкового путь переписали грустный мир за строчка, повстречался.</p>
            <div class="fs-3">СУПЕР БОЛЬШОЙ ТЕКСТ</div>
            <p class="w-text-xl">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Текстами правилами, языкового путь переписали грустный мир за строчка, повстречался.</p>
            <div class="fs-3">ТЕКСТ С РАЗНЫМИ ВИДАМИ ССЫЛОК</div>
            <p>Далеко-далеко <a href="#">за словесными</a> горами в <a href="#" class="w-black-link">стране гласных</a> и согласных живут рыбные тексты. Текстами правилами, языкового путь переписали грустный мир за строчка, повстречался.</p>

            <br>

            <div class="fs-3">СПИСКИ</div>
            <ul class="disced">
            	<li>Далеко-далеко, за, словесными горами в стране гласных и согласных живут рыбные тексты.</li>
            	<li>Далеко-далеко за словесными горами в стране.</li>
            	<li>Далеко-далеко за словесными горами в стране.</li>
            </ul>

            <ul>
            	<li>Далеко-далеко, за, словесными горами в стране гласных и согласных живут рыбные тексты.</li>
            	<li>Далеко-далеко за словесными горами в стране.</li>
            	<li>Далеко-далеко за словесными горами в стране.</li>
            </ul>

            <ul class="loyality-list">
            	<li>
            		<p>Далеко-далеко, за словесными горами в стране гласных, и согласных живут рыбные тексты.</p>
            		<p>Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты.</p>
            		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
            	</li>
            	<li>Далеко-далеко за словесными горами в стране. Далеко-далеко за словесными горами в стране.</li>
            	<li>Далеко-далеко за словесными горами в стране. Далеко-далеко за словесными горами в стране.</li>
            	<li>Далеко-далеко за словесными горами в стране. Далеко-далеко за словесными горами в стране.</li>
            </ul>
        </section>

        <button class="w-primary-btn" type="button" data-modaltarget="modal-test">Модалка 1</button> <br>
        <button class="w-primary-btn" type="button" data-modaltarget="modal-test2">Модалка 2</button>
    </div>

    @@include('./parts/footer.html')

    <div class="modal modal-sm" id="modal-test">
        <div class="modal__bg"></div>
        <div class="modal__content">
            <div class="modal__top">
                <span class="modal__title">Modal title</span>
                <buttno class="modal__close ms-auto" type="button"><img src="./img/icons/close.svg" alt=""></buttno>
            </div>
            <div class="p-4">
                Далеко-далеко за словесными, горами, в стране гласных и согласных живут рыбные тексты. Проектах гор вопроса рот даль грамматики продолжил всемогущая рукопись его своих, путь великий буквоград что напоивший бросил, собрал раз, послушавшись все моей запятых. Грустный, сих назад коварный дорогу, переулка буквенных.
            </div>
            <div class="modal__bottom">
                <div class="modal__actions">
                    <button class="w-empty-btn" type="button">Кнопка</button>
                    <button class="w-primary-btn" type="button">Кнопка</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg" id="modal-test2">
        <div class="modal__bg"></div>
        <div class="modal__content">
            <div class="modal__top">
                <span class="modal__title">Large modal</span>
                <buttno class="modal__close ms-auto" type="button"><img src="./img/icons/close.svg" alt=""></buttno>
            </div>
            <div class="p-4">
                Далеко-далеко за словесными, горами, в стране гласных и согласных живут рыбные тексты. Проектах гор вопроса рот даль грамматики продолжил всемогущая рукопись его своих, путь великий буквоград что напоивший бросил, собрал раз, послушавшись все моей запятых. Грустный, сих назад коварный дорогу, переулка буквенных.
            </div>
        </div>
    </div>
</body>

</html>