<ul class="pages__list">
{#    <li><a href="#">Гарантия</a></li>
    <li><a href="#">Доставка и оплата</a></li>
    <li><a href="#">Обмен и возврат</a></li>
    <li><a href="#">Публичная оферта</a></li>
    <li><a href="#">Политика конфиденциальности</a></li>#}
</ul>