{% if status == 'draft' %}
    <span class="badge badge-secondary">{{ 'draft'|trans|raw }}</span>
{% elseif status == 'active' %}
    <span class="badge bg-green">{{ 'active'|trans|raw }}</span>
{% elseif status == 'archived' %}
    <span class="badge bg-orange">{{ 'archived'|trans|raw }}</span>
{% endif %}