<nav itemscope itemtype="http://schema.org/SiteNavigationElement">

    <ul itemprop="about" itemscope itemtype="http://schema.org/ItemList">
        <?php foreach ($menu as $menu_item) { ?>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
            <a itemprop="url" href="{Ссылка}">{Анкор ссылки}</a>
            <meta itemprop="name" content="{Анкор ссылки}" />

            <?php if (($menu_item["children"])) { ?>
            <ul itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                <?php foreach ($menu_item["children"] as $child) { ?>

                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                    <a itemprop="url" href="{Дочерняя ссылка}">{Анкор дочерней ссылки}</a>
                    <meta itemprop="name" content="{Анкор дочерней ссылки}" />
                </li>

                <?php } ?>
            </ul>
            <?php } ?>
        </li>

        <?php } ?>
    </ul>

</nav>

