<nav itemscope itemtype="http://schema.org/SiteNavigationElement">

    <ul itemprop="about" itemscope itemtype="http://schema.org/ItemList">
        <?php foreach ($menu as $menu_item) { ?>

        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
            <a itemprop="url" href="{Ссылка}">{Анкор ссылки}</a>
            <meta itemprop="name" content="{Анкор ссылки}" />

            <?php if (($menu_item["children"])) { ?>
            <ul itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                <?php foreach ($menu_item["children"] as $child) { ?>

                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                    <a itemprop="url" href="{Дочерняя ссылка}">{Анкор дочерней ссылки}</a>
                    <meta itemprop="name" content="{Анкор дочерней ссылки}" />
                </li>

                <?php } ?>
            </ul>
            <?php } ?>
        </li>

        <?php } ?>
    </ul>

</nav>

<div itemprop="review" itemscope itemtype="http://schema.org/Review">

        <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta itemprop="worstRating" content = "0">
            <meta itemprop="bestRating" content = "5">
            <span itemprop="ratingValue">4</span></span>
            <span itemprop="itemReviewed">Товар</span>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Иванов Иван</span>
        </span>

        <meta itemprop="datePublished" content="01.01.2020">
        <div itemprop="reviewBody">Текст отзыва</div>
</div>

<div itemprop="review" itemtype="https://schema.org/Review" itemscope>
    <div itemprop="author" itemtype="https://schema.org/Person" itemscope>
        <meta itemprop="name" content="Fred Benson" />
    </div>
    <div itemprop="reviewRating" itemtype="https://schema.org/Rating" itemscope>
        <meta itemprop="ratingValue" content="4" />
        <meta itemprop="bestRating" content="5" />

    </div>
    <meta itemprop="datePublished" content="01.01.2020">
    <meta itemprop="reviewBody">Текст отзыва</meta>
</div>

