<div itemscope itemtype="http://schema.org/SiteNavigationElement">
    <menu itemprop="about" itemscope itemtype="http://schema.org/ItemList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
            <a href="url" itemprop="url">Пункт 1</a>
            <meta itemprop="name" content="Пункт_1" />
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList"><a href="url" itemprop="url">Пункт_2<meta itemprop="name" content="Пункт_2" /></a></li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList"><a href="url" itemprop="url">Пункт_3</a>
            <meta itemprop="name" content="Пункт_3" />
            <menu>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                    <a href="url" itemprop="url">Под_пункт_3_1
                        <meta itemprop="name" content="Пункт_3_1" />
                    </a>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList"><a href="url" itemprop="url">Под_пункт_3_2<meta itemprop="name" content="Пункт_3_2" /></a></li>
            </menu>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList"><a href="url" itemprop="url">Пункт_4<meta itemprop="name" content="Пункт_4" /></a></li>
    </menu>
</div>