<div class="cat__items">
				<a href="#" class="cat__item">
					<div class="cat__text">
						<span class="cat__name">Спортивная одежда</span>
						<!-- <div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div> -->
					</div>
					<img src="./img/cats/img-1.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item">
					<div class="cat__text">
						<span class="cat__name">Леггинсы</span>
						<!-- <div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div> -->
					</div>
					<img src="./img/cats/img-2.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item">
					<div class="cat__text">
						<span class="cat__name">Топы</span>
						<!-- <div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div> -->
					</div>
					<img src="./img/cats/img-3.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item">
					<div class="cat__text">
						<span class="cat__name">Рашгарды</span>
						<!-- <div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div> -->
					</div>
					<img src="./img/cats/img-4.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item">
					<div class="cat__text">
						<span class="cat__name">Футболки</span>
						<!-- <div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div> -->
					</div>
					<img src="./img/cats/img-5.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item">
					<div class="cat__text">
						<span class="cat__name">Худи</span>
						<!-- <div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div> -->
					</div>
					<img src="./img/cats/img-6.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item">
					<div class="cat__text">
						<span class="cat__name">Шорты</span>
						<!-- <div class="cat__bottom">
							<span class="cat__cnt">15 моделей</span>
							<span class="cat__price">от 1 799 ₽</span>
						</div> -->
					</div>
					<img src="./img/cats/img-7.webp" alt="" class="cat__img" width="250" height="250">
				</a>
				<a href="#" class="cat__item cat__sale">
					<span class="cat__sale_alert">%</span>
					<span class="cat__sale_name">Распродажа</span>
				</a>
			</div>