<footer class="footer">
		<div class="wrapper">
			<div class="footer__main">
				<div class="footer__left">
					<a href="#" class="footer__logo">
						<img src="./img/logo.svg" alt="" width="205" height="36">
					</a>
					<div class="footer__phone">
						<a href="#" class="footer__phone_call">8 (800) 301-67-53</a>
						<span class="footer__phone_descr">Звонок по РФ бесплатный</span>
					</div>
					<ul class="footer__socials">
						<li><a href="#"><img src="./img/icons/vk.svg" alt="" width="40" height="40"></a></li>
						<li><a href="#"><img src="./img/icons/tg.svg" alt="" width="40" height="40"></a></li>
						<li><a href="#"><img src="./img/icons/wa.svg" alt="" width="40" height="40"></a></li>
					</ul>
				</div>
				<div class="footer__col">
					<div class="footer__title">Покупателям</div>
					<ul class="footer__list">
						<li><a href="#">Доставка и оплата</a></li>
						<li><a href="#">Обмен и возврат</a></li>
						<li><a href="#">Публичная оферта</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
						<li><a href="#">Отложенные товары</a></li>
					</ul>
				</div>
				<div class="footer__col">
					<div class="footer__title">Магазин</div>
					<ul class="footer__list">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Отзывы покупателей</a></li>
						<li><a href="#">Бонусные баллы</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Личный кабинет</a></li>
					</ul>
				</div>
				<div class="footer__right">
					<div class="footer__marketplaces">
						<a href="#" class="footer__marketplace">
							<img src="./img/icons/wb.png" alt="" class="footer__marketplace_img" width="40" height="40">
							<div class="footer__marketplace_text">
								<span class="footer__marketplace_descr">Наш магазин</span>
								<span class="footer__marketplace_name">Wildberries</span>
							</div>
						</a>
						<a href="#" class="footer__marketplace">
							<img src="./img/icons/ozon.png" alt="" class="footer__marketplace_img" width="40" height="40">
							<div class="footer__marketplace_text">
								<span class="footer__marketplace_descr">Наш магазин</span>
								<span class="footer__marketplace_name">Ozon</span>
							</div>
						</a>
						<a href="#" class="footer__marketplace">
							<img src="./img/icons/ym.png" alt="" class="footer__marketplace_img" width="40" height="40">
							<div class="footer__marketplace_text">
								<span class="footer__marketplace_descr">Наш магазин</span>
								<span class="footer__marketplace_name">Яндекс Маркет</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="wrapper">
				<div class="footer__bottom_row">
					<span class="footer__copyright">© 2019 - 2023 ООО "Вумджой"</span>
					<ul class="footer__pay">
						<li><img src="./img/icons/visa.svg" alt="" width="58" height="40"></li>
						<li><img src="./img/icons/mc.svg" alt="" width="58" height="40"></li>
						<li><img src="./img/icons/mir.svg" alt="" width="58" height="40"></li>
						<li><img src="./img/icons/sbp.svg" alt="" width="58" height="40"></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<ul class="mob-bar">
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link c-open">
            	<span class="mob-bar__icon"><img src="./img/icons/catalog.svg" alt="" width="24" height="24"></span>
                Каталог
            </a>
        </li>
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link">
            	<span class="mob-bar__icon"><img src="./img/icons/trace.svg" alt="" width="24" height="24"></span>
                Отследить
            </a>
        </li>
        <li class="mob-bar__item mob-bar__drop">
            <a href="#" class="mob-bar__link mob-bar__drop_trigger">
            	<span class="mob-bar__icon"><img src="./img/icons/cabinet.svg" alt="" width="24" height="24"></span>
                Кабинет
            </a>
            <ul class="mob-bar__drop_list">
            	<li><a href="#">Мои данные</a></li>
            	<li><a href="#">История заказов</a></li>
            	<li><a href="#">Обратная связь</a></li>
            	<li><a href="#" class="gray">Выйти</a></li>
            </ul>
        </li>
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link">
            	<span class="mob-bar__icon"><img src="./img/icons/favourite.svg" alt="" width="24" height="24"></span>
                Изрбранное
            </a>
        </li>
        <li class="mob-bar__item">
            <a href="#" class="mob-bar__link">
            	<span class="mob-bar__icon"><img src="./img/icons/cart.svg" alt="" width="24" height="24"></span>
            	<span class="cart-currentcnt">5</span>
                Корзина
            </a>
        </li>
    </ul>