<div class="products__slider">
    <div class="products-swiper swiper">
        <div class="swiper-wrapper">
            <div class="product swiper-slide">
                <div class="product__img">
                    <div class="product__img_slider swiper">
                        <div class="swiper-wrapper">
                            <div class="product__img_slide swiper-slide active">
                                <picture>
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/csache/300-400/1777s6d72-56f3-40ed-8870-2e58bea258ee.jpg.webp" type="image/webp">
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/17776d72-56f3-40ed-8870-2e58bea258ee.jpg" type="image/jpeg">
                                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/17776d72-56f3-40ed-8s870-2e58beas258ee.jpg.webp" alt="Thumbnail Рашгард укороченный image 1" width="289" height="384">
                                </picture>
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <picture>
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/87eee509-f592-4b49-a59f-256d492d0c53.jpg.webp" type="image/webp">
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/87eee509-f592-4b49-a59f-256d492d0c53.jpg" type="image/jpeg">
                                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/87eee509-f592-4b49-a59f-256d492d0c53.jpg.webp" alt="Thumbnail Рашгард укороченный image 2" width="289" height="384">
                                </picture>
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <picture>
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/807ba467-4844-4db9-8581-de49d307dffc.jpg.webp" type="image/webp">
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/807ba467-4844-4db9-8581-de49d307dffc.jpg" type="image/jpeg">
                                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/807ba467-4844-4db9-8581-de49d307dffc.jpg.webp" alt="Thumbnail Рашгард укороченный image 3" width="289" height="384">
                                </picture>
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <picture>
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/53d844db-3de2-4b9d-8860-eec6b9a78520.jpg.webp" type="image/webp">
                                    <source data-srcset="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/53d844db-3de2-4b9d-8860-eec6b9a78520.jpg" type="image/jpeg">
                                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://static.womjoy.ru/s3/2023/08/08/cache/300-400/53d844db-3de2-4b9d-8860-eec6b9a78520.jpg.webp" alt="Thumbnail Рашгард укороченный image 4" width="289" height="384">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__row">
                    <span class="product__cost">1 299 ₽</span>
                    <del class="product__old">1 299 ₽</del>
                    <span class="product__sale">-30%</span>
                </div>
                <p class="product__name">Рашгард женский с длинным рукавом, черный Classic Logo Black</p>
                <ul class="product__colors">
                    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                    <li><a href="#" style="background-color: #6E72A8;"></a></li>
                    <li><a href="#" style="background-color: #3740B4;"></a></li>
                    <li><a href="#" style="background-color: #A8AAB6;"></a></li>
                    <li><a href="#" style="background-color: #27262C;"></a></li>
                </ul>
                <div class="product__hidden">
                    <button class="product__addtocart btn-primary" type="button">
                        <img src="./img/icons/cart.svg" alt="" width="20" height="20">
                        В корзину
                    </button>
                    <div class="product__sizes">Размеры: XS S M L</div>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__img">
                    <div class="product__img_slider swiper">
                        <div class="swiper-wrapper">
                            <div class="product__img_slide swiper-slide active">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__row">
                    <span class="product__cost">1 299 ₽</span>
                    <del class="product__old">1 299 ₽</del>
                    <span class="product__sale">-30%</span>
                </div>
                <p class="product__name">Рашгард женский с длинным рукавом, черный Classic Logo Black Classic Logo Black</p>
                <ul class="product__colors">
                    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                    <li><a href="#" style="background-color: #6E72A8;"></a></li>
                    <li><a href="#" style="background-color: #3740B4;"></a></li>
                    <li><a href="#" style="background-color: #A8AAB6;"></a></li>
                </ul>
                <div class="product__hidden">
                    <button class="product__addtocart btn-primary" type="button">
                        <img src="./img/icons/cart.svg" alt="" width="20" height="20">
                        В корзину
                    </button>
                    <div class="product__sizes">Размеры: XS S M L</div>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__img">
                    <div class="product__img_slider swiper">
                        <div class="swiper-wrapper">
                            <div class="product__img_slide swiper-slide active">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__row">
                    <span class="product__cost">1 299 ₽</span>
                    <del class="product__old">1 299 ₽</del>
                    <span class="product__sale">-30%</span>
                </div>
                <p class="product__name">Рашгард женский с длинным рукавом, черный Classic Logo Black</p>
                <ul class="product__colors">
                    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                </ul>
                <div class="product__hidden">
                    <button class="product__addtocart btn-primary" type="button">
                        <img src="./img/icons/cart.svg" alt="" width="20" height="20">
                        В корзину
                    </button>
                    <div class="product__sizes">Размеры: XS S M L</div>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__img">
                    <div class="product__img_slider swiper">
                        <div class="swiper-wrapper">
                            <div class="product__img_slide swiper-slide active">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__row">
                    <span class="product__cost">1 299 ₽</span>
                    <del class="product__old">1 299 ₽</del>
                    <span class="product__sale">-30%</span>
                </div>
                <p class="product__name">Рашгард женский с длинным рукавом, черный Classic Logo Black</p>
                <ul class="product__colors">
                    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                    <li><a href="#" style="background-color: #6E72A8;"></a></li>
                    <li><a href="#" style="background-color: #3740B4;"></a></li>
                    <li><a href="#" style="background-color: #A8AAB6;"></a></li>
                    <li><a href="#" style="background-color: #27262C;"></a></li>
                </ul>
                <div class="product__hidden">
                    <button class="product__addtocart btn-primary" type="button">
                        <img src="./img/icons/cart.svg" alt="" width="20" height="20">
                        В корзину
                    </button>
                    <div class="product__sizes">Размеры: XS S M L</div>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__img">
                    <div class="product__img_slider swiper">
                        <div class="swiper-wrapper">
                            <div class="product__img_slide swiper-slide active">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__row">
                    <span class="product__cost">1 299 ₽</span>
                    <del class="product__old">1 299 ₽</del>
                    <span class="product__sale">-30%</span>
                </div>
                <p class="product__name">Рашгард женский с длинным рукавом, черный Classic Logo Black</p>
                <ul class="product__colors">
                    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                </ul>
                <div class="product__hidden">
                    <button class="product__addtocart btn-primary" type="button">
                        <img src="./img/icons/cart.svg" alt="" width="20" height="20">
                        В корзину
                    </button>
                    <div class="product__sizes">Размеры: XS S M L</div>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__img">
                    <div class="product__img_slider swiper">
                        <div class="swiper-wrapper">
                            <div class="product__img_slide swiper-slide active">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-1.webp" alt="" width="289" height="384">
                            </div>
                            <div class="product__img_slide swiper-slide">
                                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/products/img-2.webp" alt="" width="289" height="384">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__row">
                    <span class="product__cost">1 299 ₽</span>
                    <del class="product__old">1 299 ₽</del>
                    <span class="product__sale">-30%</span>
                </div>
                <p class="product__name">Рашгард женский с длинным рукавом, черный Classic Logo Black</p>
                <ul class="product__colors">
                    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                    <li><a href="#" style="background-color: #6E72A8;"></a></li>
                    <li><a href="#" style="background-color: #3740B4;"></a></li>
                    <li><a href="#" style="background-color: #A8AAB6;"></a></li>
                    <li><a href="#" style="background-color: #27262C;"></a></li>
                </ul>
                <div class="product__hidden">
                    <button class="product__addtocart btn-primary" type="button">
                        <img src="./img/icons/cart.svg" alt="" width="20" height="20">
                        В корзину
                    </button>
                    <div class="product__sizes">Размеры: XS S M L</div>
                </div>
            </div>
        </div>
        <button class="slider-btn-prev" type="button"><img src="./img/icons/arrow-left.svg" alt="" width="24" height="24"></button>
        <button class="slider-btn-next" type="button"><img src="./img/icons/arrow-right.svg" alt="" width="24" height="24"></button>
    </div>
</div>