{% extends 'pion/email/store/order/order_new.html.twig' %}

{% block body %}

    {# templates/emails/signup.html.twig #}
    <h1>Order new !</h1>

    <p>{{ user }}</p>

    <p>
        <a href="#">Click here to activate your account</a>
    </p>

{% endblock  %}