{%  extends 'default/store/base.html.twig' %}

{% block body %}
    <section class="checkout">
        <div class="wrapper">
            <nav class="hide-on-mobile" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
                </ol>
            </nav>
            <div class="show-on-mobile">
                <a href="{{ path('store.cart.index') }}" class="back-to-cart">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0303 18.5303C12.3232 18.2374 12.3232 17.7626 12.0303 17.4697L7.31066 12.75L18 12.75C18.4142 12.75 18.75 12.4142 18.75 12C18.75 11.5858 18.4142 11.25 18 11.25L7.31066 11.25L12.0303 6.53033C12.3232 6.23744 12.3232 5.76256 12.0303 5.46967C11.7374 5.17677 11.2626 5.17677 10.9697 5.46967L4.96967 11.4697C4.67678 11.7626 4.67678 12.2374 4.96967 12.5303L10.9697 18.5303C11.2626 18.8232 11.7374 18.8232 12.0303 18.5303Z" fill="#2F2B43" fill-opacity="0.7"/>
                    </svg>
                    Назад в корзину
                </a>
            </div>
            <div id="checkout-id"> </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('store_default_checkout') }}
{% endblock %}