{% extends 'default/store/base.html.twig' %}

{% block body %}
    <section class="cart">
        <div class="wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('home') }}">Главная</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('store.cart.index') }}">Корзина</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="javascript:void(0);">Оформление заказа</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Заказ успешно оформлен</li>
                </ol>
            </nav>

            <h1>Заказ #{{ order.orderNumber.value }} успешно оформлен</h1>

            <p>Checkout success!</p>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
