<div class="filter">
    <div class="filter__top">
        <div class="filter__title">Фильтры</div>
        <button class="filter__close" type="button">
            <img src="./img/icons/close-black.svg" alt="" width="24" height="24">
        </button>
    </div>
    <div class="filter__rows">
{#        <div class="filter__row">
            <span class="filter__name">Категории</span>
            <ul class="filter__list">
                <li><a href="#">Брюки</a></li>
                <li><a href="#">Леггинсы</a></li>
                <li><a href="#">Топы</a></li>
                <li><a href="#">Рашгарды</a></li>
                <li><a href="#">Футболки</a></li>
                <li><a href="#">Худи</a></li>
                <li><a href="#">Шорты</a></li>
                <li><a href="#">Аксессуары</a></li>
            </ul>
        </div>#}
        <div class="filter__row">
            <span class="filter__name">Виды спорта</span>
            <ul class="filter__list">
                <li>
                    <label class="check">
                        <input type="checkbox" hidden checked>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Йога</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Фитнес</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Бег</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Активный отдых</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Полденс</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="filter__row">
            <span class="filter__name">Размер</span>
            <ul class="filter__list">
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">L (46-48)</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">L (46-48)</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">L (46-48)</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">L (46-48)</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="filter__row">
            <span class="filter__name">Модель</span>
            <ul class="filter__list">
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Стандартная</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Высокая посадка</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__txt">Plus Size</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="filter__row">
            <span class="filter__name">Модель</span>
            <ul class="filter__list">
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__color" style="background-color: rgba(47, 43, 67, 0.7)"></span>
                        <span class="check__txt">Графитовый</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__color" style="background-color: #8482FF"></span>
                        <span class="check__txt">Лавандовый</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__color" style="background-color: #AFFFCF"></span>
                        <span class="check__txt">Мятный</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__color" style="background-color: rgba(47, 43, 67, 0.4);"></span>
                        <span class="check__txt">Серый</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__color" style="background-color: #4F398F;"></span>
                        <span class="check__txt">Сливовый</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__color" style="background-color: #9747FF;"></span>
                        <span class="check__txt">Фиолетовый</span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        <input type="checkbox" hidden>
                        <span class="check__sq">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9L10.3636 16L6 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span class="check__color" style="background-color: #2F2B43;"></span>
                        <span class="check__txt">Черный</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <button class="filter__btn btn-primary" type="button">Применить</button>
</div>