{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-xxl-8">

        </div>
        <div class="col-xxl-4">
            <h1>Product name</h1>

        </div>
    </div>

{% endblock %}