<div class="burger-menu">
    <div class="wrapper">

        {% include 'default/common/search.html.twig' %}

        <ul class="burger-menu__list">

            {% for element in menu.header %}
                {% if element.children is defined %}

                    {% include 'default/store/common/header_sublist_menu.twig' %}

                {% else %}
                    <li class="nav__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                        <a href="{{ element.href }}" class="nav__link" itemprop="url">
                            {{ element.name }}
                        </a>
                        <meta itemprop="name" content={{ element.name }} />
                    </li>
                {% endif %}

            {% endfor %}

        </ul>

    </div>
</div>