{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="card card-body">
        <h1>Dashboard</h1>
        <a href="{{ path('admin.dashboard.wb') }}" class="btn btn-bitbucket">WB</a>
        <a href="{{ path('admin.dashboard.generate.yml') }}" class="btn btn-bitbucket">Generate YML</a>
        <a href="{{ path('admin.dashboard.generate.sitemap') }}" class="btn btn-bitbucket">Generate Sitemap</a>
    </div>
{% endblock %}
