@media screen and (min-width: 1400px) {
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
	    max-width: 1140px;
	}
}

@media screen and (max-width: 1200px) {
	.catalog-menu {
		&__col {
			width: calc(100% / 12 * 3 - 20px);
		}
	}

	.loyality {
		padding: 60px 0 75px;

		&__title {
			font-size: 35px;
			span {
				font-size: 70px;
			}
		}
		&__descr {
			font-size: 21px;
			max-width: 450px;
		}
	}

	.modal {
		&__sizes {
			&_img {
				max-width: 240px;
			}
		}
		&__table {
			width: calc(100% - 260px);
		}
	}

	.state__all-range-box {
	    width: 48%;
	    padding-left: 35px;
	    padding-right: 35px;
	    box-sizing: border-box;
	}
	.state__my-current-amount {
	    width: 27%;
	}
	.state__my-current-state {
	    width: 25%;
	}
	.range__box {
	    width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.cart {
		&__left {
			width: calc(100% - 55px - 121px - 110px - 115px - 110px - 28px);
		}
		&__head:first-child {
			width: calc(100% - 55px - 121px - 110px - 115px - 110px - 28px);
		}
		&__cell, &__head {
			&:nth-child(2) {
				width: 55px;
			}
			&:nth-child(3) {
				width: 121px;
			}
			&:nth-child(4) {
				width: 110px;
			}
			&:nth-child(5) {
				width: 115px;
			}
			&:nth-child(6) {
				width: 110px;
			}
			&:nth-child(7) {
				width: 28px;
			}
		}
	}

	.checkout {
		.cart {
			&__left {
				width: calc(100% - 55px - 121px - 110px - 115px - 110px - 28px);
			}
			&__head:first-child {
				width: calc(100% - 55px - 121px - 110px - 115px - 110px - 28px);
			}
			&__cell, &__head {
				&:nth-child(2) {
					width: 55px;
				}
				&:nth-child(3) {
					width: 121px;
				}
				&:nth-child(4) {
					width: 110px;
				}
				&:nth-child(5) {
					width: 115px;
				}
				&:nth-child(6) {
					width: 110px;
				}
				&:nth-child(7) {
					width: 28px;
				}
			}
		}
	}
}

@media screen and (min-width: 860px) {

}

@media screen and (min-width: 769px) {
	.header {
		&:not(.header-in):hover {
			background-color: $white;
			color: $black;
		}
		&:hover &__alert {
			border-bottom-color: #000 !important;
		}
		&:hover &__logo {
			svg path {
				fill: #000;
			}
		}
		&:hover &__action, &:hover .burger {
			svg path {
				stroke: #000;		
			}
		}
		&:hover &__logo {
			img {
				&:first-child { display: none; }
				&:last-child { display: block; }
			}
		}

		&__main.fixed:hover {
			background-color: $white;
			color: $black;
		}
		&__main.fixed:hover &__logo {
			svg path {
				fill: #000;
			}
		}
		&__main.fixed:hover &__action, &__main.fixed:hover .burger {
			svg path {
				stroke: #000;		
			}
		}
		&__main.fixed:hover &__logo {
			img {
				&:first-child { display: none; }
				&:last-child { display: block; }
			}
		}
	}

}
@media screen and (max-width: 768px) {
	.w-white-btn {
		width: 152px;
		font-size: 12px;
		padding: 12px;
	}

	.w-action-btn {
		padding: 12px 10px;
		min-width: unset;
		font-size: 12px;
	}

	.w-action-btn {
		min-width: unset;
	}

	.w-field {
		&__inp {
			padding: 8px 10px;
		}
		img {
			max-width: 20px;
		}
	}

	.w-sel {
		&-lg &__trigger {
			padding: 7px 21px 7px 7px;
		}
		&__item {
			padding: 7px;
		}
		&__trigger {
			&::after {
				width: 16px;
				justify-self: 16px;
			}
		}
	}

	.breadcrumbs {
		white-space: nowrap;
		max-width: 100%;
		overflow-x: auto;
		margin-bottom: 12px;
		padding-bottom: 8px;
	}

	.catalog-menu {
		position: fixed;
		top: 50px;
		height: calc(100dvh - 50px - 77px);
		max-height: calc(100dvh - 50px - 77px);
		padding-top: 0;
		overflow-y: unset;

		.search {
			position: unset;
			display: block;
			padding: 0;
			padding-bottom: 20px;

			&__btn {
				display: none;
			}

			&__form {
				margin-right: 0;
			}
		}

		> .container-xxl {
			height: 100%;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 100%;
			width: 100%;
			height: 50px;
			background-color: rgba(#000, .6);
			z-index: 12;
		}

		&__content {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&__close {
			position: unset;
			img {
				width: 16px;
				height: 16px;
				object-fit: contain;
				object-position: center;
			}
		}
		&__cols {
			padding-right: 0;
			flex-wrap: nowrap;
			position: relative;
			box-sizing: border-box;
			margin-left: 0;
			margin-right: 0;
			overflow-y: auto;
			flex-direction: column;
			padding-top: 20px;
			padding-bottom: 0;
		}
		&__col {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__title, &__subtitle {
			text-transform: unset;
			font-size: 16px;
			display: block;
			margin-bottom: 0;
		}
		&__back + &__title {
			font-size: 28px;
			margin-right: auto;
		}
		&__back {
			display: none;
			margin-right: 10px;

			&.active {
				display: block;
			}
		}
		&__cell {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__bottom {
			display: none;
		}
		&__link, &__sublink {
			display: block;
			width: 100%;
		}
		&__sublist {
			padding: 0;
			top: 0 !important;
			border: none;
			box-sizing: border-box;
		}
		&__list {
			&-bordered {
				border: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	.search {
		top: 111px;
		&:has(~ .header .header__main.fixed) {
			top: 64px;
		}

		&__btn {
			width: 75px;
			font-size: 12px;
			min-width: unset;
		}
		
		// position: unset;
		// padding: 0;
		// z-index: 12;
		// background-color: transparent;
		// display: block;

		// &-pc, &-pc.active {
		// 	display: none;
		// }

		// &__close {
		// 	display: none;
		// }
		// &__bottom {
		// 	// display: none;
		// 	flex-direction: column;
		// 	display: none;
		// 	&.active {
		// 		display: block;
		// 	}
		// }
		// &__main {
		// 	margin-bottom: 0;
		// }
		// .container {
		// 	padding: 0;
		// 	max-width: unset
		// }
		// &__btn {
		// 	display: none;
		// }
		// &__clear {
		// 	position: absolute;
		// 	right: 0;
		// 	top: 10px;
		// }

		&-pc {
			padding-top: 0;
			padding-bottom: 20px;
		}
		&-pc &__bottom {
			display: none;
		}
	}

	.drop {
		&__trigger {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
				width: 6px;
				height: 10px;
				background-image: url('../img/icons/menu-arrow-right.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
		&__content {
			display: none;
			background-color: #fff;
			height: 100%;
			max-height: 100%;
			overflow-y: auto;
			z-index: 2;
			position: unset;
			left: 0;
			top: 15px;
			width: 100%;
			padding-bottom: 15px;
			&.active {
				display: block;
				position: absolute;
			}
		}
	}
	
	.header {
		&__action {
			&:nth-child(1) {
				margin-right: 0;
				margin-left: auto;
			}
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				display: none;
			}
		}
		&__main {
			&.fixed {
				padding-right: calc((var(--bs-gutter-x)*.5) + 0.5rem) !important;
			    padding-left: calc((var(--bs-gutter-x)*.5) + 0.5rem) !important;
			}
		}
		&__logo {
			position: unset;
			transform: unset;
		}
	}

	.hero {
		&__slide {
			height: unset;
		}
		&__text {
			bottom: 54px;
		}
		&__title {
			font-size: 32px;
		}
	}

	.search {
		&__query {
			padding: 8px 10px;
			img {
				max-width: 20px;
				margin-right: 8px;
			}
		}
	}

	.catalog {
		&__tags {
			justify-content: flex-start;
			flex-wrap: nowrap;
			white-space: nowrap;
			max-width: 100%;
			overflow-x: auto;
			margin-bottom: 12px;
			padding-bottom: 12px;

			li {
				margin-bottom: 0;
			}
		}
	}

	.filter {
		&__main {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;;
			height: 100vh;
			max-height: 100vh;
			overflow-y: auto;
			z-index: 13;
			background-color: #fff;
			display: none;
			&.active {
				display: block;
			}
		}
		&__items {
			flex-direction: column;
			align-items: flex-start;
			padding: 20px;
			padding-bottom: 140px;
		}
		&__trigger {
			justify-content: space-between;
			&.active {
				svg {
					transform: rotate(-180deg);
				}
			}
		}
		&__item {
			width: 100%;
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 25px;
			}
		}
		&__content {
			position: unset;
			max-height: unset;
			overflow: unset;
			min-height: unset;
			width: 100%;
			box-shadow: none;
		}
		&__checks {
			margin-bottom: 0;
			max-height: unset;
		}
		&__apply {
			display: none;
		}
	}

	.loyality {
		padding: 30px 0 45px;

		&__title {
			font-size: 20px;

			span {
				font-size: 50px;
			}
		}
		&__descr {
			font-size: 16px;
			max-width: 340px;
		}
	}
	.loyality-list li {
		width: 100%;
		float: unset;
		&:first-child {
			float: unset;
		}
	}

	.i-card {
		padding-top: 0 !important;
		&__content {
			flex-direction: column;
		}
		&__img {
			width: 100%;
			margin-right: 0;
		}
		&__text {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		&__mobbtn {
			display: inline-block;
			z-index: 11;
			position: fixed;
			left: calc(var(--bs-gutter-x)*.5);
			bottom: calc(var(--bs-gutter-x)*.5);
			width: calc(100% - var(--bs-gutter-x));
		}
	}

	.modal {
		&__sizes {
			flex-direction: column;
			padding: 18px 16px;
		}
		&__close {
			width: 14px;
		}
		&__table {
			width: 100%;
			max-width: 100%;
			overflow-x: auto;

			table {
				min-width: 500px;
			}
		}
		&__top {
			padding: 18px 16px;
		}
		&__title {
			font-size: 20px;
		}
	}

	.cart, .checkout .cart {
		&__row {
			padding-left: 109px;
		}
		&__img {
			position: absolute;
			left: 0;
			top: 0;
			margin-right: 0;
			width: 94px;
			height: 100%;
		}
		&__left {
			width: 100%;
		}
		&__color {
			display: none;
		}
		&__cell {
			text-align: left;
			&:nth-child(2) {
				width: 0;
			}
			&:nth-child(4) {
				display: none;
			}
			&:nth-child(5) {
				width: 50%;
				text-align: unset;
			}
			&:nth-child(6) {
				width: calc(50% - 6px);
				margin-left: auto;
			}
			&:nth-child(3) {
				width: 100%;
				text-align: unset;
				margin-bottom: 8px;
			}
		}
		&__size {
			display: inline-block;
			max-width: 130px;
			width: 100%;
		}
		&__cnt {
			display: inline-flex;
			max-width: 130px;
			width: calc(100% - 5px);
			// margin-left: 5px;
			&_action {
				height: 35px !important;
			}
		}
		&__cost {
			text-align: left;
		}
		&__remove {
			position: absolute;
			display: block;
			right: 0;
			top: -5px;
			width: 18px;
			img {
				display: block;
			}
		}
		&__color {
			width: 20px;
			height: 20px;
		}

		&__name {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			a {
				order: -1;
			}
		}
		&__left {
			width: calc(100% - 26px);
		}

		&__art {
			margin-bottom: 0;
			margin-top: 8px;
		}

		&__priceone {
			font-size: 12px;
			color: #818793;
		}
	}

	.bottom-sticky-bar {
		display: block;
	}

	.cart {
		// .c-item {
		// 	&__main {
		// 		flex-wrap: wrap;
		// 	}
		// 	&__text {
		// 		width: calc(100% - 35px);
		// 		max-width: unset;
		// 	}
		// 	&__price, &__actions {
		// 		max-width: calc(50% - 5px);
		// 		margin-top: 10px;
		// 	}
		// 	&__remove {
		// 		position: absolute;
		// 		right: 0;
		// 		top: 0;
		// 	}
		// }
	}

	.state__my-current-state {
	    width: 50%;
	}
	.state__my-current-amount {
	    width: 50%;
	    text-align: right;
	}
	.state__all-range-box {
	    margin-top: 40px;
	    padding-bottom: 40px;
	    width: 100%;
	    align-self: center;
	}


	.card {
		&__main {
			padding-left: 0;
			padding-right: 0;
			text-align: left;
			align-items: flex-start;
			max-width: 100%;
		}
		&__sizes {
			font-size: 12px;
		}
		&__name {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: block;
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 620px) {
	.state__my-current-state {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 40px;
	}
	.state__my-current-amount {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 35px;
	}
	.state__icn-box {
	    margin: 0 auto;
	}
	.state__all-range-box {
	    align-self: center;
	    width: 80%;
	    margin-top: 0;
	    padding: 0 15px 40px;
	}
	.loyalty-state-table__my-state {
	    flex-direction: column;
	    padding: 15px;
	}
	.loyalty-state-table__info {
	    flex-wrap: wrap;
	    padding: 15px;
	}
	.loyalty-state-table__myinfo {
	    width: 100%;
	    margin-bottom: 24px;
	}
	.loyalty-state-table__common-info {
	    width: 100%;
	}

	.main-banner {
		padding-top: 50vw;
		&__text {
			max-width: unset;
			align-items: center;
			text-align: center;
		}
		&__title {
			font-size: 10vw;
		}
		&__descr {
			font-size: 5vw;
		}
	}

	// .cart, .checkout .cart {
	// 	&__row {
	// 		padding-left: 109px;
	// 	}
	// 	&__img {
	// 		position: absolute;
	// 		left: 0;
	// 		top: 0;
	// 		margin-right: 0;
	// 		width: 94px;
	// 		height: 94px;
	// 	}
	// 	&__color {
	// 		position: absolute;
	// 		left: 10px;
	// 		top: 10px;
	// 	}
	// 	&__cell {
	// 		&:nth-child(2) {
	// 			width: 0;
	// 		}
	// 		&:nth-child(4) {
	// 			display: none;
	// 		}
	// 		&:nth-child(5) {
	// 			width: 50%;
	// 			text-align: unset;
	// 		}
	// 		&:nth-child(3) {
	// 			width: 50%;
	// 			text-align: unset;
	// 		}
	// 	}
	// 	&__size {
	// 		display: inline-block;
	// 		max-width: 130px;
	// 		width: 100%;
	// 	}
	// 	&__cnt {
	// 		display: inline-flex;
	// 		max-width: 130px;
	// 		width: calc(100% - 5px);
	// 		margin-left: 5px;
	// 		&_action {
	// 			height: 35px;
	// 		}
	// 	}
	// 	&__cost {
	// 		text-align: left;
	// 	}
	// 	&__remove {
	// 		position: absolute;
	// 		display: block;
	// 		right: 0;
	// 		top: -5px;
	// 		width: 18px;
	// 		img {
	// 			display: block;
	// 		}
	// 	}
	// 	&__color {
	// 		width: 20px;
	// 		height: 20px;
	// 	}
	// }
}

@media screen and (max-width: 576px) {
	html {
		font-size: 13px;
	}

	.w-empty-btn, .w-white-btn, .w-primary-btn {
		min-width: 140px;
	}

	.w-section {
		padding: 20px 0;
	}

	.cat {
		height: 65vw;
		&__btn {
			max-width: calc(100% - 10px)
		}
	}

	.loyality {
		padding-top: 30px;
		padding-bottom: 330px;
		background-image: url('../img/bg-loyalty-mob.webp')
	}

	.i-card {
		&__img {
			margin-left: calc(-1 * (var(--bs-gutter-x) * 0.5));;
			width: calc(100% + (2 * (var(--bs-gutter-x) * 0.5)));
			position: relative;
			max-width: unset;
		}
		&__lgimgs {
			width: 100%;
		}
		&__text {
			align-items: center;
			padding-top: 20px;
		}
		&__back {
			display: block;
		}
		&__txt {
			text-align: center;
		}
		&__faq {
			&_dropdown {
				font-size: 13px;
			}
		}
		&__smimgs {
			display: none;
		}
		&__name {
			font-size: 20px;
			text-align: center;
		}
		&-pagination {
			display: flex;
			justify-content: center;
			position: absolute;
			left: 50% !important;
			bottom: 10px !important;
			transform: translateX(-50%);
			z-index: 100;

			&-bullet {
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 50px;
				background-color: #fff;
				opacity: .5;
				margin: 0 5px;
				&-active {
					opacity: 1;
				}
			}
		}
	}

	.checkout .cart {
		&__cell {
			width: 100% !important;
		}
	}
}