<div class="alert bottom-0 end-0 mb-4 me-3">
    {% for label, messages in app.flashes(['success', 'warning', 'danger', 'info']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'action.close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-title">{{ label|capitalize }}</h4>
                <div class="text-muted">{{ message }}</div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
