<div class="mb-3">
    <nav aria-label="breadcrumb">

        <ol class="breadcrumb">
            {% for item in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ path('store.admin.category.edit', {'id': item.id}) }}">{{ item.name }}</a></li>
                {#<li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>#}
            {% endfor %}
        </ol>
    </nav>
</div>